@using DicomApp.Portal.Helpers;
@using DicomApp.Helpers;
@using DicomApp.Portal.Controllers;
@using DicomApp.BL.Services;
@using DicomApp.CommonDefinitions.DTO;
@{
    string connectionString = @Startup.Configuration["ConnectionStrings:DicomAppDBEntities"];
    long roleID = 0;
    long userID = 0;
    if (User.Identity.IsAuthenticated)
    {
        roleID = AuthHelper.GetClaimValue(User, "RoleID");
        userID = @AuthHelper.GetClaimValue(User, "UserID");
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>RED Express</title>
    <link rel="shortcut icon" href="~/dist/images/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <partial name="_MainCssFiles" />
        <script src="~/dist/vendors/jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/dist/vendors/datatable/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/dist/vendors/datatable/buttons/css/buttons.bootstrap4.min.css" />
    <style>
    .dataTables_wrapper {
    width: 100% !important;
    }
    </style>
</head>
<body id="main-container" class="default compact-menu">
    <div class="se-pre-con">
        <div class="loader"></div>
    </div>

    <!-- Left Menu Navigation Bar -->
    <a class="sidebarCollapse" id="collapse"><span class="ToggelSpan"><i class="fas fa-angle-right"></i></span></a>
    <div class="sidebar">
        <a href="javascript:;" class="sidebarCollapseOut ToggelSpan-collapse"><span class=""><i class="fas fa-angle-left"></i></span></a>
        <div class="site-width">
            <ul id="side-menu" class="sidebar-menu">
                <li class="dropdown Main-logo"><img src="/dist/images/logo.png" width="60px" /></li>
                <li class="dropdown active">
                    <ul id="NavigationList">
                        @if (BaseService.CheckRoleAccessability(roleID, "Menu_RedDashboard", connectionString: connectionString))
                        {
                            <li id="Dashboard-li" class="cursor-pointer" onclick="NavActive('Dashboard-li')">
                                <a href="/Home/Index" class="Navigation">
                                    <img class="Img-Ul" src="~/dist/images/Icons/Dashboard.png" />
                                    Dashboard
                                </a>
                            </li>
                        }
                        @if (roleID == (int)EnumRole.Admin || roleID == (int)EnumRole.SuperAdmin || roleID == (int)EnumRole.AccountManager)
                        {
                            if (BaseService.CheckRoleAccessability(roleID, "Menu_AccountDashboard", connectionString: connectionString))
                            {
                                <li class="cursor-pointer">
                                    <a href="/Home/AccountDashboard" class="Navigation">
                                        <img class="Img-Ul" src="~/dist/images/Icons/Dashboard.png" />
                                        Gamer Dashboard
                                    </a>
                                </li>
                            }
                        }
                        <li class="cursor-pointer" onclick="OpenSection('REDManagement-Ul')">
                            <a><img class="Img-Ul" src="~/dist/images/Icons/REDManagement.png" />Management</a>
                            <ul id="REDManagement-Ul" class="d-none Nested-sidebar-menu">
                                @if (BaseService.CheckRoleAccessability(roleID, "Menu_Staff", connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/User/ListUser">Staff</a></li>
                                }
                                @if (BaseService.CheckRoleAccessability(roleID, "Menu_Vendors", connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/User/ListGamer">Gamers</a></li>
                                }
                                @if (BaseService.CheckRoleAccessability(roleID, SystemConstants.Permission.ListRole, connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/Role/listrole">Roles & Permissions</a></li>
                                }
                                @if (BaseService.CheckRoleAccessability(roleID, SystemConstants.Permission.ListGame, connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/Game/GameList">Game</a></li>
                                }
                                @if (BaseService.CheckRoleAccessability(roleID, SystemConstants.Permission.CategoryList, connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/Category/CategoryList">Category</a></li>
                                }

                            </ul>
                        </li>
                        <li class="cursor-pointer" onclick="OpenSection('ShippingManagement-Ul')">
                            <a><img class="Img-Ul" src="~/dist/images/Icons/Shipment.png" /> Advertisement</a>
                            <ul id="ShippingManagement-Ul" class="d-none Nested-sidebar-menu">
                                @if (BaseService.CheckRoleAccessability(roleID, SystemConstants.Permission.AddAdvertisement, connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/Advertisement/Add">Add New Advertisement</a></li>
                                }
                                @if (BaseService.CheckRoleAccessability(roleID, SystemConstants.Permission.ListAdvertisement, connectionString: connectionString))
                                {
                                    <li><a class="MenuNavigation Navigation" href="/Advertisement/All">Advertisement List</a></li>
                                }
                            </ul>
                        </li>
                        @if (BaseService.CheckRoleAccessability(roleID, "Menu_Products", connectionString: connectionString))
                        {
                            <li class="cursor-pointer">
                                <a href="/GamerService/All" class="Navigation">
                                    <img class="Img-Ul" src="~/dist/images/Icons/Product.png" />
                                    Services Management
                                </a>
                            </li>
                        }
                        @if (BaseService.CheckRoleAccessability(roleID, "Menu_Products", connectionString: connectionString))
                        {
                            <li class="cursor-pointer">
                                <a href="/Invoice/All" class="Navigation">
                                    <img class="Img-Ul" src="~/dist/images/Icons/Invoicing-Cash.png" />
                                    Invoicing & Cash
                                </a>
                            </li>
                        }
                       
                        <li style="padding-top: 100%;"><a href="~/User/Logout"><img class="Img-Ul" src="~/dist/images/Icons/Logout.png" /> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0 ml-auto">
                <li class="breadcrumb-item"><a>Application</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>

    <!-- Top Navigation Bar -->
    <div class="navbar-section">
        <div class="row Red-Row User-Section">
            <div class="col-sm-12 col-lg-4 col-xl-5 col-12 Search">
                <i class="fas fa-search cursor-pointer Icon-Search" onclick="TrackShipment()"></i>
                <input type="text" class="Txt-Search" id="TrackShipment" placeholder="Track Advertisement " />
                <i class="fas fa-angle-right cursor-pointer Icon-Arow-Right" onclick="TrackShipment()"></i>
            </div>
            <div class="col-sm-9 col-lg-8 col-xl-7 col-12 Notifcation">
                <select>
                    <option>ENG</option>
                </select>
                @if (BaseService.CheckRoleAccessability(roleID, "NotificationVComponent", connectionString: connectionString))
                {
                    @await Component.InvokeAsync("NotificationVComponent", new { pageIndex = 0 })
                }

                <div class="User-Info" data-toggle="modal" data-target="#ChangePasswordModal">
                    <img src="/dist/images/logo.png" width="31" />
                    <p class="font-weight-bold" onclick="MenuNavigation(event,'ChangePassword','User')" style="font-size:13px">Welcome</p>
                    <p>@AuthHelper.GetUserName(User)</p>
                </div>
            </div>
        </div>
    </div>

    <!--Change Password Modal-->
    <div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="Model-Titel">Change User Password</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <form id="ChangePassword-Form" asp-action="ChangePassword" asp-controller="User" method="post">
                        <input id="Id" name="Id" value="@userID" type="hidden" />
                        <div class="Change-Password">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="Shipment-Details-label pull-left mb-3">New Password</label>
                                    <input type="password" class="mb-3 text-danger" id="NewPassword_@userID" name="NewPassword" placeholder="New Password" required />
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="Shipment-Details-label pull-left mb-3">Confirm New Password</label>
                                    <input type="password" class="mb-3 text-danger" id="ConfirmPassword_@userID" name="ConfirmPassword" placeholder="Confirm Password" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mt-4">
                            <button class="Red-Btn btn-success pull-right" onclick="ChangeUserPassword(@userID)" type="button">
                                Change Password 
                                <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                            </button>
                            <button class="Red-Btn btn-danger pull-left" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

                        
    <!-- Shipment Details Popup -->
    <div class="modal fade z-index-9999" id="ShipmentDetails" tabindex="-1" aria-labelledby="ShipmentDetailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div id="ShipmentDetails-Body" class="modal-body">
                    <div class="spinner-border text-danger d-block m-auto" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shipment Items Popup -->
    <div class="modal fade" id="ItemsModal" tabindex="-1" role="dialog" aria-labelledby="ItemsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 108%;">
                <div>
                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ItemsModal-body">
                    <div class="spinner-border text-danger d-block m-auto" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shipment Partial Items Popup -->
    <div class="modal fade" id="PartialItemsModal" tabindex="-1" role="dialog" aria-labelledby="PartialItemsModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width: 108%;">
                <div>
                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="PartialItemsModal-body">
                    <div class="spinner-border text-danger d-block m-auto" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="MainDiv">
        <div id="MainView">
            @RenderBody()
        </div>
        <div id="MainLoder" style="display:none">
            <span class="MainLoder">
                <img src="~/dist/images/logo.png" />
            </span>
        </div>
    </div>
    <a class="scrollup text-center">
        <i class="icon-arrow-up text-white"></i>
    </a>

    <!-- App Scripts -->
    <partial name="_MainJsFiles" />
    @if (TempData["SuccessMsg"] != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: '@TempData["SuccessMsg"]',
                    showConfirmButton: false,
                    timer: 5000
                });
            });
        </script>
    }
    @if (TempData["ErrorMsg"] != null)
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    position: 'center',
                    icon: 'error',
                    title: '@TempData["ErrorMsg"]',
                    showConfirmButton: false,
                    timer: 5000
                });
            });
        </script>
    }
    @RenderSection("scripts", required: false)
</body>
</html>