
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.CommonDefinitions.DTO
@model OptionDTO

<div class="pagination">
    <div>
        <h4><span id="DataCount-Span">@(Model.Count > 0 ? "Showing : " + @Model.Count.ToString() : "")</span> </h4>
    </div>
    <div>
        <a class="active" onclick="PreviousPage('@Model.Controller','@Model.Action', '@Model.StatusId')" href="javascript:;">&laquo;</a>
        <a class="active" onclick="NextPage('@Model.Controller','@Model.Action', '@Model.StatusId')" href="javascript:;">&raquo;</a>
    </div>
</div>