
@using LegendCR.CommonDefinitions.DTO.PickupDTOs;
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.Helpers;
@model ViewModel<PickupDTO>
@{
    var MinDate = DateTimeHelper.MinDate(true);
}
<main>
    <form asp-action="AddStockPickup" id="FulfillmentRequest-Form" class="needs-validation" asp-controller="PickupRequest">
        <div id="PickupRequest-Div" style="overflow:hidden">
            <div class="container-fluid site-width">
                <div class="row Red-Row">
                    <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                        <div class="sub-header">
                            <span class="Header-Titel">Fulfillment Request</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Shipment-container">
                <div class="row Red-Row w-100">
                    <div class="col-lg-4">
                        <h6 class="my-4 ml-2 font-w-500">Vendor Details</h6>
                        <div class="Shipment-Details-Section">
                            <div class="col-lg-12 mb-3">
                                <label class="Shipment-Details-label">Vendor</label>
                                @Html.DropDownList("vendorId", new SelectList(Model.Lookup.VendorDTOs, "Id", "Name"),"--- Select Vendor ---", new { @class = "form-control select" ,@required="required",@id= "vendorId" , @onchange="GetVendorDetails()"})
                                <div class="invalid-feedback">
                                    Please enter Select Vendor
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label class="Shipment-Details-label">Name</label>
                                <input type="text" id="VendorName" name="VendorName" required placeholder="Name" />
                                <div class="invalid-feedback">
                                    Please enter Name
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Number</label>
                                <input type="text" id="VendorPhone" name="VendorPhone" required placeholder="Number" />
                                <div class="invalid-feedback">
                                    Please enter Number
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Address</label>
                                <input type="text" placeholder="Address" id="VendorAddress" required name="VendorAddress" />
                                <div class="invalid-feedback">
                                    Please enter Address
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Location Url</label>
                                <input placeholder="Location Url" class="Input-Txt" id="VendorLocation" name="VendorLocation">
                                <div class="invalid-feedback">
                                    Please enter a valid Location Url.
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Landmark</label>
                                <input type="text" placeholder="Landmark" id="VendorLandmark" name="VendorLandmark">
                                <div class="invalid-feedback">
                                    Please enter a valid Landmark.
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label class="Shipment-Details-label">Floor</label>
                                <input type="number" min="0" class="input-Number" id="VendorFloor" name="VendorFloor" placeholder="Floor" required />
                                <div class="invalid-feedback">
                                    Please enter Floor.
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label class="Shipment-Details-label">Apartment</label>
                                <input type="number" min="0" class="input-Number" id="VendorApartment" name="VendorApartment" placeholder="Apartment" />
                                <div class="invalid-feedback">
                                    Please enter No. of Apartment.
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Governament</label>
                                @Html.DropDownList("ZoneId", new SelectList(Model.Lookup.ZoneDTOs, "Id", "NameAr"),"--- Select Governament ---", new { @class = "form-control select",@onchange="GetAreasByZone()"})
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Area</label>
                                <select id="AreaId" name="AreaId" class="form-control" required>
                                    <option value="">--- Select Area ---</option>
                                    @foreach (var item in Model.Lookup.AreaDTOs)
                                    {
                                        <option value="@item.Id">@item.CityNameAr</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Area.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 w-100 Picku-Scehdule">
                        <h6 class="my-4 ml-2 font-w-500">Pickup Schedule</h6>
                        <div style="width:98%" class="Shipment-Details-Section">
                            <div class="row Red-Row">
                                <div class="col-md-6">
                                    <label class="Shipment-Details-label">Date</label>
                                    <input type="date" min="@MinDate" name="PickupDate" id="PickupDate" required placeholder="dd/mm/yyyy" />
                                    <div class="invalid-feedback">
                                        Please enter Date (Today Not Available)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="Shipment-Details-label">Ready Time</label>
                                    <input type="time" min="10:00" max="21:00" id="TimeFrom" name="TimeFrom" placeholder="hh:ss - hh:ss" required />
                                    <div class="invalid-feedback">
                                        Please enter Ready Time (from 10:00 AM to 09:00 PM)
                                    </div>
                                </div>
                            </div>
                            <div class="row Red-Row mt-4">
                                <div class="col-md-6">
                                    <label class="Shipment-Details-label">Last Time Available</label>
                                    <input type="time" min="10:00" max="21:00" id="TimeTo" name="TimeTo" placeholder="hh:ss - hh:ss" required />
                                    <div class="invalid-feedback">
                                        Please enter Last Time Available (from 10:00 AM to 09:00 PM)
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    @*<a data-toggle="modal" data-target="#STOCKModel">showwwwww</a>*@
                                    <button type="button" style="width:100%" onclick="ShowModal('STOCKModel')" class="Red-Btn btn-success"><img src="/dist/images/Icons/Total.png"> Select Items</button>
                                </div>
                            </div>
                            <div class="row Red-Row mt-4">
                                <div class="col-lg-6">
                                    <label class="Shipment-Details-label">Special Instructions</label>
                                    <textarea class="h-auto" Rows="5" id="Notes" name="Notes" placeholder="Special Instructions ..."></textarea>
                                </div>
                                <div class="col-lg-6">
                                    <input type="checkbox" id="cbxIncludeReturns" name="cbxIncludeReturns" />
                                    <label class="Shipment-Details-label font-weight-bold" for="IncludeReturns">Include Returned Shipments</label>
                                    <button type="button" class="Edit-Partial-Delivery" onclick="GetReadyForReturn()" data-target="#ReturnedShipments" data-toggle="modal">View Shipments</button>

                                    <!-- START : Ready for return shipments popup -->
                                    <div class="modal fade" id="ReturnedShipments" tabindex="-1" role="dialog" aria-labelledby="ReturnedShipments-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" id="ReturnedShipments-Body">
                                                    <h2 class="ml-4"></h2>
                                                    <h2 class="Model-Titel">Ready for return shipments</h2>
                                                    <div class="Table-container" id="ReturnedShipments-TableSection">
                                                        <table id="Red-Table" class="table"></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-0 Red-Row PickupRequest">
                    <div class="col-lg-12 col-12 ml-3 Buttons-Submit-Section justify-content-End">
                        <button type="button" id="BtnSend" onclick="AddStockPickup('FulfillmentRequest-Form')" class="Red-Btn">
                            <img class="mr-2" src="~/dist/images/Icons/Shipped.png" />
                            Confirm
                            <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stock Items Modal -->
        <div class="modal fade" id="STOCKModel" tabindex="-1" role="dialog" aria-labelledby="STOCKModel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" style="width: 108%;">
                    <div>
                        <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="StockModalBody">
                        <div class="text-danger text-center"><h3>No products available</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
<script src="~/dist/vendors/select2/js/select2.full.min.js"></script>
<script src="~/dist/js/select2.script.js"></script>