
@using DicomApp.CommonDefinitions.DTO.PickupDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model ViewModel<PickupDTO>

<thead>
    <tr>
        <td>Route</td>
        <td># of Vendors</td>
        <td># of Items</td>
        <td>Date</td>
        <td class="">Actions</td>
    </tr>
</thead>
<tbody>
    @if (Model.ObjDTOs != null && Model.ObjDTOs.Count > 0)
    {
        foreach (var item in Model.ObjDTOs.GroupBy(g => g.ZoneId))
        {
            <tr>
                <td>@item.FirstOrDefault().ZoneName</td>
                <td>@item.GroupBy(g => g.VendorId).Count()</td>
                <td>@item.Sum(s => s.PickupItems.Count())</td>
                <td class="Date-Table">@item.OrderBy(d => d.PickupDate).FirstOrDefault().PickupDate.ToShortDateString()</td>
                <td>
                    <form asp-action="Assign" asp-controller="PickUpRequest">
                        <div class="Actions-Buttons">
                            <ul>
                                <li class="Orange-Bg">
                                    <a data-toggle="modal" data-target="#PickupList-Modal_@item.Key"> <img class="w-20" src="/dist/images/Icons/User.png" /> </a>
                                    <!-- Pickups included Model -->
                                    <div class="modal fade" id="PickupList-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="Pickupsincluded-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="ml-4"></h2>
                                                    <h2 class="Model-Titel">Pickups included</h2>
                                                    <div class="Table-container Max-height">
                                                        <table class="table text-center" id="Table_@item.Key">
                                                            <thead>
                                                                <tr>
                                                                    <td><input type="checkbox" id="SelectArea_@item.Key" onchange="SelectShipment('@item.Key')"></td>
                                                                    <td>Code</td>
                                                                    <td>Vendor</td>
                                                                    <td>Date</td>
                                                                    <td>Time</td>
                                                                    <td>Address</td>
                                                                    <td>Phone</td>
                                                                    <td># of Items</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var pickUpRequest in item)
                                                                {
                                                                    <tr>
                                                                        <td><input type="checkbox" value="@pickUpRequest.PickupRequestId" name="AdvertisementIds" id="checkbox_@pickUpRequest.PickupRequestId" checked=@pickUpRequest.SELECTED /></td>
                                                                        <td>
                                                                            <b onclick="@(pickUpRequest.PickupRequestTypeId == (int)EnumPickupRequestType.DeliveryPickup ? "GetDeliveryPickups":"GetStockPickups")('@pickUpRequest.PickupRequestId')" data-target="@(pickUpRequest.PickupRequestTypeId == (int)EnumPickupRequestType.DeliveryPickup ? "#PickupRequstDetails":"#PickupStocktDetails")" data-toggle="modal">@pickUpRequest.RefId</b>

                                                                            
                                                                            @*<b>@pickUpRequest.RefId</b>*@
                                                                        
                                                                        </td>
                                                                        <td>@pickUpRequest.VendorName</td>
                                                                        <td>@pickUpRequest.PickupDate.ToShortDateString()</td>
                                                                        <td class="text-nowrap">@pickUpRequest.TimeFrom.ToShortTimeString() to @pickUpRequest.TimeTo.ToShortTimeString()</td>
                                                                        <td>@pickUpRequest.VendorAddress</td>
                                                                        <td>@pickUpRequest.VendorPhone</td>
                                                                        <td>@pickUpRequest.PickupItems.Count()</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button class="Red-Btn-OutLine OutLine-Red Btn-Model ml-3" type="button" data-toggle="modal" data-target="#courrier-Modal_@item.Key" data-dismiss="modal">Select Courrier</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Assign to courrier Model -->
                                    <div class="modal fade" id="courrier-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="courrier-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="Model-Titel">Assign to courrier</h2>
                                                    <div class="col-lg-12 Courriers-Modal">
                                                        <label class="Label-Model">Courriers</label>
                                                        @Html.DropDownList("ddldriver", new SelectList(Model.Lookup.CourierDTOs, "Id", "Name"),"--- Select Delivery ---", new { @class = "input-Model" , @required = "required"})
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button class="Red-Btn-OutLine OutLine-Red Btn-Model" type="submit" id="BtnSave">Assign</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="Blue-Bg">
                                    <a data-toggle="modal" data-target="#ViewPickupList-Modal_@item.Key"><i class="icon-eye F-Large"></i></a>
                                    <!-- Pickups included Model -->
                                    <div class="modal fade" id="ViewPickupList-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="Pickupsincluded-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="ml-4"></h2>
                                                    <h2 class="Model-Titel">Pickups included</h2>
                                                    <div class="Table-container Max-height">
                                                        <table class="table text-center" id="Table_@item.Key">
                                                            <thead>
                                                                <tr>
                                                                    <td>Code</td>
                                                                    <td>Vendor</td>
                                                                    <td>Date</td>
                                                                    <td>Time</td>
                                                                    <td>Address</td>
                                                                    <td>Phone</td>
                                                                    <td># of Shipmnets</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var pickUpRequest in item)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <b onclick="@(pickUpRequest.PickupRequestTypeId == (int)EnumPickupRequestType.DeliveryPickup ? "GetDeliveryPickups":"GetStockPickups")('@pickUpRequest.PickupRequestId')" data-target="@(pickUpRequest.PickupRequestTypeId == (int)EnumPickupRequestType.DeliveryPickup ? "#PickupRequstDetails":"#PickupStocktDetails")" data-toggle="modal">@pickUpRequest.RefId</b>

                                                                            @*<b>@pickUpRequest.RefId</b>*@
                                                                        </td>
                                                                        <td>@pickUpRequest.VendorName</td>
                                                                        <td>@pickUpRequest.PickupDate.ToShortDateString()</td>
                                                                        <td class="text-nowrap">@pickUpRequest.TimeFrom.ToShortTimeString() to @pickUpRequest.TimeTo.ToShortTimeString()</td>
                                                                        <td>@pickUpRequest.VendorAddress</td>
                                                                        <td>@pickUpRequest.VendorPhone</td>
                                                                        <td>@pickUpRequest.PickupItems.Count()</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="20">
                <h6 class="text-center text-danger my-5">No data available in table</h6>
            </td>
        </tr>
    }
</tbody>