
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.CommonDefinitions.DTO.PickupDTOs
@using DicomApp.Helpers
@model List<PickupDTO>

@if (ViewBag.ActionName == EnumActionName.PickupReport)
{
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr onclick="GetDeliveryPickups('@item.PickupRequestId')" data-target="#PickupRequstDetails" data-toggle="modal">
                <td class="text-nowrap"><b>@item.RefId</b></td>
                <td>@item.VendorName</td>
                <td>@item.VendorAddress <br />@item.VendorPhone</td>
                <td>@item.PickupItems.Count()</td>
                <td>@item.PickupDate.ToShortDateString()</td>
                <td class="text-nowrap">@item.TimeFrom.ToShortTimeString() to @item.TimeTo.ToShortTimeString()</td>
                <td>@item.Notes</td>
                <partial name="_StatusPickupSwitch" model="@item" />
                <td><span class="Comments-Table">@(item.Notes ?? "---")</span></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="16" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
}
else if (ViewBag.ActionName == EnumVendorActionName.PickupList)
{
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox"></td>
                <td>@item.PickupRequestId</td>
                <td>@item.PickupDate.ToShortDateString()</td>
                <td>@item.TimeFrom.ToShortTimeString()</td>
                <td>@item.TimeTo.ToShortTimeString()</td>
                <td>@item.PickupItems.Count()</td>
                <partial name="_StatusPickupSwitch" model="item" />
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
}
<input type="hidden" value="@Model.Count" id="DataCount" />