
@using DicomApp.CommonDefinitions.DTO.PickupDTOs;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@model PickupDTO
@{
    var MinDate = DateTimeHelper.MinDate();
}
<main>
    <form asp-action="AddDeliveryPickup" id="PickupRequest-Form" asp-controller="PickupRequest">
        <div id="PickupRequest-Div" style="display:none; overflow:hidden">

            <div class="container-fluid site-width">
                <div class="row Red-Row">
                    <div class="col-12 col-lg-12 col-xl-12 col-sm-12 Pickup-Header">
                        <div class="sub-header">
                            <span class="Header-Titel">Pickup Request</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Shipment-container">
                <div class="row Red-Row w-100">
                    <div class="col-lg-4">
                        <h6 class="my-4 ml-2 font-w-500">Vendor Details</h6>
                        <div class="Shipment-Details-Section">
                            <div class="col-lg-12 mb-3">
                                <label class="Shipment-Details-label">Vendor Name</label>
                                <input type="hidden" asp-for="VendorId" id="VendorId" value="VendorId" disabled />
                                <input type="text" asp-for="VendorName" value="VendorName" disabled />
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Number</label>
                                <input type="text" asp-for="VendorPhone" id="VendorPhone" placeholder="Number" required />
                                <div class="invalid-feedback">
                                    Please enter Number
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Address</label>
                                <input type="text" asp-for="VendorAddress" id="VendorAddress" placeholder="Address" required />
                                <div class="invalid-feedback">
                                    Please enter Address
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Location Url</label>
                                <input type="text" asp-for="VendorLocation" id="VendorLocation" placeholder="Location Url" />
                                <div class="invalid-feedback">
                                    Please enter a valid Location Url.
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Landmark</label>
                                <input type="text" asp-for="VendorLandmark" id="VendorLandmark" placeholder="Landmark" />
                                <div class="invalid-feedback">
                                    Please enter a valid Landmark.
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label class="Shipment-Details-label">Floor</label>
                                <input type="number" asp-for="VendorFloor" id="VendorFloor" placeholder="Floor" class="input-Number" required />
                                <div class="invalid-feedback">
                                    Please enter Floor.
                                </div>
                            </div>
                            <div class="col-lg-6 mt-3">
                                <label class="Shipment-Details-label">Apartment</label>
                                <input type="number" asp-for="VendorApartment" id="VendorApartment" placeholder="Apartment" class="input-Number" />
                                <div class="invalid-feedback">
                                    Please enter No. of Apartment.
                                </div>
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Governament</label>
                                @Html.DropDownList("ZoneId", new SelectList(ViewBag.ZoneList, "Id", "NameAr"),"--- Select Governament ---", new { @class = "form-control select",@onchange="GetAreasByZone(event)"})
                            </div>
                            <div class="col-lg-12 mt-3">
                                <label class="Shipment-Details-label">Area</label>
                                @Html.DropDownList("AreaId", new SelectList(ViewBag.AreaList, "Id", "CityNameAr"),"--- Select Area ---", new { @class = "form-control"})
                                <div class="invalid-feedback">
                                    Please Select Area.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 w-100 Picku-Scehdule">
                        <h6 class="my-4 ml-2 font-w-500">Pickup Schedule</h6>
                        <div style="width:98%" class="Shipment-Details-Section">
                            <div class="row Red-Row Stock-Modal">
                                <div class="col-lg-6">
                                    <label class="Shipment-Details-label">Date</label>
                                    <input type="date" asp-for="PickupDate" value="@null" id="PickupDate" placeholder="dd/mm/yyyy" min="@MinDate" />
                                </div>
                                <div class="col-lg-6">
                                    <label class="Shipment-Details-label">Ready Time</label>
                                    <input type="time" asp-for="TimeFrom" value="@null" id="TimeFrom" />
                                </div>
                                <div class="col-lg-6 mt-4">
                                    <label class="Shipment-Details-label">Last Time Available</label>
                                    <input type="time" asp-for="TimeTo" value="@null" id="TimeTo" />
                                </div>
                            </div>
                            <div style="margin-top:5%;" class="row Red-Row">
                                <div class="col-lg-6">
                                    <label class="Shipment-Details-label">Notes</label>
                                    <textarea asp-for="Notes" class="h-auto" Rows="5" id="Notes" placeholder="Notes ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ml-0 Red-Row PickupRequest">
                    <div class="col-lg-12 col-12 ml-3 Buttons-Submit-Section justify-content-between">
                        <button type="button" onclick="PickupRequestToggel('PickupRequest-Div','PickupRequest-List')" class="Red-Btn"><img class="mr-2" src="~/dist/images/Icons/Shipped.png" />Back</button>

                        <button type="button" id="PickupRequestBtn" onclick="AddDeliveryPickup()" class="Red-Btn"><img class="mr-2" src="~/dist/images/Icons/Shipped.png" />Confirm <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="PickupRequest-List">
        <div class="container-fluid site-width">
            <div class="row Red-Row">
                <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                    <div class="sub-header py-5 d-flex">
                        <div>
                            <span class="Header-Titel">pickup Shipments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Shipment-container">
            <div class="row Red-Row">
                @{
                    await Html.RenderPartialAsync("_ToolsRow", new OptionDTO { Action = "Delivery", Controller = "PickUpRequest", SelectListType = new byte[] { (byte)EnumSelectListType.Vendor } });
                }
                <div class="col-lg-12 Buttons-Pickup-Section">
                    <button onclick="PickupRequestToggel('PickupRequest-List','PickupRequest-Div')" type="button" class="Red-Btn"><img class="mr-2" src="~/dist/images/Icons/shipped.png" />Pickup</button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="ShipmentDetails" tabindex="-1" aria-labelledby="ShipmentDetailsLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div id="ShipmentDetails-Body" class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <span id="Ajaxloader" class="Ajaxloader d-none"></span>
        </div>
        <div class="Table-container">
            <table class="table">
                <thead>
                    <tr>
                        <td><input id="Allcheckbox" onclick="SelectAllCheckbox()" type="checkbox" /></td>
                        <td>Code</td>
                        <td>Vendor</td>
                        <td>Customer</td>
                        <td>Service</td>
                        <td># of Items</td>
                        <td>Weight</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Shipments != null)
                    {
                        foreach (var item in Model.Shipments)
                        {
                            <tr id="@item.AdvertisementId" data-Vendor="0">
                                <td><input type="checkbox" value="@item.AdvertisementId" id="checkbox_@item.AdvertisementId" name="AdvertisementIds" checked=@item.SELECTED></td>
                                <td onclick="ShipmentDetails('Shipment',@item.AdvertisementId)" data-toggle="modal" data-target="#ShipmentDetails"><b>@item.RefId</b></td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0 KG</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="text-danger text-center"><h3>No data available in table</h3></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
<script src="~/dist/vendors/select2/js/select2.full.min.js"></script>
<script src="~/dist/js/select2.script.js"></script>