@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model List<ServiceDTO>
@if (Model != null && Model.Count > 0)
{
    foreach (var serv in Model)
    {
        <tr id="TableRow_@serv.GamerServiceId">
            <td class="td-small text-center text-nowrap pl-1 pr-1" onclick="GamerServiceDetails('GamerService',@serv.GamerServiceId)" data-toggle="modal" data-target="#GamerServiceDetails"><b>@serv.RefId</b></td>
            <td class="td-small text-center pl-1 pr-1" style="min-width:100px;">@serv.UserName</td>
            <td class="td-small text-center pl-1 pr-1" style="min-width:100px;">@serv.Password</td>
            <td class="td-small text-center text-nowrap pl-1 pr-1 Date-Table">@serv.CreatedAt.ToString("dd MMM yyyy")</td>
            <td class="td-small text-center pl-1 pr-1">@serv.Game?.NameEn</td>
            <td class="td-small text-center pl-1 pr-1">@serv.Gamer?.Name</td>
            <td class="td-small text-center pl-1 pr-1">@serv.Description</td>
            <td class="td-small text-center pl-1 pr-1">@serv.GameServiceType</td>
            <td class="td-small text-center text-nowrap pl-1 pr-1">@serv.Price EGP</td>
            <td class="td-small text-center text-nowrap pl-1 pr-1">@serv.Level</td>
            <td class="td-small text-center text-nowrap pl-1 pr-1">@serv.Rank</td>
            <partial name="~/Views/Shared/Advertisement/_StatusSwitch.cshtml" model="@serv.Status"></partial>
            <td class="text-center pr-0" id="TableTD_@serv.GamerServiceId">
                <partial name="~/Views/GamerService/_CommonActions.cshtml" model="@serv"></partial>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="13" class="text-danger text-center"><h3>No data available in table</h3></td>
    </tr>
}