@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model ViewModel<ServiceDTO>

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Services List</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)StatusTypeEnum.All)"> <a onclick="FilterByStatus('All','GamerService','All',@((int)StatusTypeEnum.All))" href="javascript:;">All</a></li>
                            <li id="InProgress-GamerService" data-status="@((int)StatusTypeEnum.InProgress)"> <a onclick="FilterByStatus('All','GamerService','InProgress-GamerService', @((int)StatusTypeEnum.InProgress))" href="javascript:;">InProgress</a></li>
                            <li id="Accept-GamerService" data-status="@((int)StatusTypeEnum.Accept)"> <a onclick="FilterByStatus('All','GamerService','Accept-GamerService', @((int)StatusTypeEnum.Accept))" href="javascript:;">Accept</a></li>
                            <li id="Reject-GamerService" data-status="@((int)StatusTypeEnum.Reject)"> <a onclick="FilterByStatus('All','GamerService','Reject-GamerService', @((int)StatusTypeEnum.Reject))" href="javascript:;">Reject</a></li>
                            <li id="Sold-GamerService" data-status="@((int)StatusTypeEnum.Sold)"> <a onclick="FilterByStatus('All','GamerService','Sold-GamerService', @((int)StatusTypeEnum.Sold))" href="javascript:;">Sold </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "All",
                Controller = "GamerService",
                Columns = 6,
                Lookup = Model.Lookup,
                SelectListType = new byte[]
            {
            (byte)EnumSelectListType.Level,
            (byte)EnumSelectListType.Price,
            (byte)EnumSelectListType.Game,
            (byte)EnumSelectListType.Gamer,
            (byte)EnumSelectListType.GameServiceType,
            },
            });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_All" model="@Model.ObjDTOs" />
        </table>
    </div>
</main>