
@using LegendCR.DAL.DB;
@model List<City>
@foreach (var item in Model)
{
    <div class="col-lg-3 mb-2">
        <div class="card card-max">
            <div class="card-body">
                <h6 class="text-muted">@item.CityNameAr</h6>
                @if (ViewBag.ZoneID == item.ZoneId)
                {
                    <input type="checkbox" data-name="@item.CityNameAr" value="@item.Id" name="AreasId" checked id="Area_@item.Id" />
                }
                else
                {
                    <input type="checkbox" data-name="@item.CityNameAr" value="@item.Id" name="AreasId" id="Area_@item.Id" />
                }
            </div>
        </div>
    </div>
}
<div class="col-lg-12">
    <button class="Red-Btn-OutLine OutLine-Red Btn-Model" data-dismiss="modal" onclick="AssignArea()" type="button" id="BtnSend">
        Assign
    </button>
</div>