
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@using DicomApp.BL.Services
@model List<UserDTO>
@{
    string connectionString = @Startup.Configuration["ConnectionStrings:DicomAppDBEntities"];
    long roleID = 0;
    if (User.Identity.IsAuthenticated)
    {
        roleID = AuthHelper.GetClaimValue(User, "RoleID");
    }
    var canprintorder = BaseService.CheckRoleAccessability(roleID, "AssignOrderListViewPrint", connectionString: connectionString);
}
<thead>
    <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>No. Of Orders</td>
        <td>Actions</td>
    </tr>
</thead>
<tbody id="TableBody">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td class="font-weight-bold">@item.Name</td>
                <td>@item.PhoneNumber</td>
                <td class="font-weight-bold">@item.CourierShipments.Count()</td>
                <td>
                    <div class="Actions-Buttons">
                        <ul>
                            @if (canprintorder)
                            {
                                <a target="_blank" href="@Url.Action("Courier", "Warehouse", new { DeliveryManId = @item.Id, ActionType="Print" })">
                                <li class="Blue-Bg"><i class="icon-printer F-Medium"></i></li>
                                </a>
                            }
                            <li class="lightRed-Bg">
                                <a data-toggle="modal" data-target="#ShipmentsList-Modal_@item.Id"><i class="icon-eye F-Large"></i></a>

                                <!-- Courier Shipments List Model -->
                                <div class="modal fade" id="ShipmentsList-Modal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="Pickupsincluded-ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div>
                                                <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2 class="ml-4"></h2>
                                                <h2 class="Model-Titel">@item.Name Orders</h2>
                                                <div class="Table-container Max-height">
                                                    <table class="table" id="Table_@item.Id">
                                                        <thead>
                                                            <tr>
                                                                <td>Code</td>
                                                                <td>Customer</td>
                                                                <td>Vendor</td>
                                                                <td>Status</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var shipment in item.CourierShipments)
                                                            {
                                                                <tr>
                                                                    <td><b>@shipment.RefId</b></td>
                                                                    <td>@shipment.CustomerDetailsDTO.CustomerName</td>
                                                                    <td>@shipment.VendorDetailsDTO.VendorName</td>
                                                                    <td class="status-td"><span class="status-Table">@shipment.StatusDTO.Name</span></td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">
                <h6 class="text-center text-danger my-5">No data available in table</h6>
            </td>
        </tr>
    }
</tbody>