
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@model List<AdsDTO>

<thead>
    <tr>
        <td><input id="Allcheckbox" onchange="PendingShipmentsSelect()" onclick="SelectAllCheckbox()" type="checkbox" /></td>
        <td>Code</td>
        <td>Customer</td>
        <td>Branch</td>
        <td>Vendor</td>
        <td>Type</td>
        <td>Game</td>
        <td>Game Type</td>
        <td>Package Details</td>
        <td class="text-center">Actions</td>
    </tr>
</thead>
<tbody id="PendingShipments-Body">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var ship in Model)
        {
            <tr id="@ship.AdvertisementId">
                <td><input type="checkbox" onchange="PendingShipmentsSelect()" value="@ship.AdvertisementId" id="checkbox_@ship.AdvertisementId" name="AdvertisementIds" checked=@ship.SELECTED></td>
                <td onclick="ShipmentDetails('Shipment',@ship.AdvertisementId)" data-toggle="modal" data-target="#ShipmentDetails"><b>@ship.RefId</b></td>
                <td>
                    0
                    <br />
                    <label class="text-nowrap mt-1"><i class="fa fa-map-marker"></i> 0</label>
                </td>
                <td>0</td>
                <td>@ship.AdvertisementId</td>
                @if (ship.AdvertisementId == (int)EnumShipmentType.PickupDelivery)
                {
                    <td><span class="Shipment-Type Pickup-Bg font-weight-bold">Pickup</span></td>
                }
                else if (ship.AdvertisementId == (int)EnumShipmentType.StockDelivery)
                {
                    <td><span class="Shipment-Type Gold-Bg font-weight-bold">Stock</span></td>
                }
                <td id="GameName_@ship.AdvertisementId">0</td>
                <td id="CategoryName_@ship.AdvertisementId">0</td>
                <td id="PackagDetails_@ship.AdvertisementId" class="text-center">
                   0 KG
                    <br>
                   0 cm<sap>3</sap>
                </td>
                <td class="text-center">
                    <div class="Actions-Buttons">
                        <ul>
                            <li class="Green-Bg" onclick="ChangeToReady(@ship.AdvertisementId)"><a href="javascript:;"><i class="ion-checkmark-round text-white"></i></a></li>

                            <li class="lightBlue-Bg">
                                <a style="color:white" target="_blank" href="@Url.Action("Print","Shipment", new { shipID = ship.AdvertisementId })"><i class="icon-printer F-Medium"></i></a>
                            </li>

                            <li class="lightYellow-Bg">
                                <!-- Reply to Courier Button -->
                                <a href="javascript:;" data-toggle="modal" data-target="#Packaging-verification_@ship.AdvertisementId"><img class="w-75 Invert-1" src="/dist/images/Icons/Box-lg.png"></a>

                                <!--Packaging verification Modal -->
                                <div class="modal fade" id="Packaging-verification_@ship.AdvertisementId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
                                        <div class="modal-content">
                                            <div>
                                                <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h2 class="Model-Titel"><b>Verify Game Details</b></h2>
                                                <form class="needs-validation" asp-action="EditGame" asp-controller="Warehouse" enctype="multipart/form-data" id="VerifyGame-Form_@ship.AdvertisementId">
                                                    <div class="container-fluid P-Model">
                                                        <div class="Black-Co text-left">
                                                            <h3 class="font-w-500">Current Game</h3>
                                                            <h4>Name : <b>0</b></h4>
                                                        </div>
                                                        <div class="row pt-0">
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model d-block text-left">Current Weight</label>
                                                                <input class="input-Model" readonly placeholder="Weight" value="0" name="SettingDTO.WarehouseWeight" />
                                                            </div>
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model d-block text-left">Current Size</label>
                                                                <input class="input-Model" readonly placeholder="Size" value="0" name="SettingDTO.WarehouseSize" />
                                                            </div>
                                                            <br>
                                                            <h2 class="Black-Co w-100 text-left mt-3 font-w-500">Warehouse Confirmation</h2>
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model">Game Type</label>
                                                                @Html.DropDownList("SettingDTO.WarehouseCategoryId", new SelectList(ViewBag.Category, "Id", "NameEn"),"--- N/A ---", new { @onchange="GetGameByCategory(" + ship.AdvertisementId + ")", @id="WarehouseCategoryId_" + ship.AdvertisementId , @class = "input-Model", @required = "required" })
                                                            </div>
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model text-white">Game</label>
                                                                @Html.DropDownList("SettingDTO.WarehouseGameId", new SelectList(ViewBag.Game, "Id", "NameEn"),"--- N/A ---", new {  @class = "input-Model", @id="WarehouseGameId_" + ship.AdvertisementId, @required = "required" })
                                                            </div>
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model d-block text-left">New Weight</label>
                                                                <input class="input-Model" id="WarehouseWeight_@ship.AdvertisementId" required name="SettingDTO.WarehouseWeight" placeholder="Weight" value="0" />
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                Please enter weight from 1 to 6
                                                            </div>
                                                            <div class="col-lg-6 pt-3">
                                                                <label class="Label-Model d-block text-left">New Size</label>
                                                                <input class="input-Model" placeholder="Size" id="WarehouseSize_@ship.AdvertisementId" min="1" max="6" name="SettingDTO.WarehouseSize" value="0" />
                                                            </div>
                                                            <input type="hidden" id="AdvertisementId" name="AdvertisementId" value="@ship.AdvertisementId" />
                                                            <input type="hidden" id="VendorName" name="VendorName" value="0" />
                                                            <div class="col-lg-12">
                                                                <button class="Red-Btn-OutLine OutLine-Red Btn-Model" data-dismiss="modal" onclick="EditWarehouseGame(@ship.AdvertisementId)" type="button" id="BtnSend">
                                                                    Confirm
                                                                    <span class="Spinner spinner-border spinner-border-sm ml-2 d-none" role="status" aria-hidden="true"></span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            @if (ship.AdvertisementId == (int)EnumShipmentType.StockDelivery)
                            {
                                <li class="Red-Bg">
                                    <a href="javascript:;" data-target="#ItemsModal" data-toggle="modal" onclick="StockItems('Shipment',@ship.AdvertisementId)">
                                        <i class="icon-eye text-white font-w-600 F-Large"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="20">
                <h6 class="text-center text-danger my-5">No data available in table</h6>
            </td>
        </tr>
    }

</tbody>
<tfoot>
    <tr>
        <td class="text-right" colspan="10">
            <button class="Red-Btn-OutLine OutLine-Green mr-4" onclick="PrintMany()">Print Policy <span id="Policy-Count"></span></button>
            <button class="Red-Btn-OutLine OutLine-Red" onclick="ChangeToReadyMany()">Ready <span id="Ready-Count"></span></button>
        </td>
    </tr>
</tfoot>