
@using DicomApp.CommonDefinitions.DTO.PickupDTOs;
@using DicomApp.CommonDefinitions.DTO;
@model ViewModel<PickupDTO>
<main>
    <div class="container-fluid site-width">
        <!-- START: Filter-->
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Pickup Report</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)EnumStatus.All)">
                                <a onclick="FilterByStatus('Pickups','Report','All',@((int)EnumStatus.All))" href="javascript:;">All</a>
                            </li>
                            <li id="PendingPickups" data-status="@((int)EnumStatus.Current)">
                                <a onclick="FilterByStatus('Pickups','Report','PendingPickups', @((int)EnumStatus.Current))" href="javascript:;"> Pending Pickups</a>
                            </li>
                            <li id="AcceptedPickups" data-status="@((int)EnumStatus.Picked_Up)">
                                <a onclick="FilterByStatus('Pickups','Report','AcceptedPickups',@((int)EnumStatus.Picked_Up))" href="javascript:;">Done Pickups</a>
                             </li>
                            <li id="CancelledPickups" data-status="@((int)EnumStatus.Cancelled_Pickup)">
                                <a onclick="FilterByStatus('Pickups','Report','CancelledPickups',@((int)EnumStatus.Cancelled_Pickup))" href="javascript:;">Cancelled Pickups</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Filter-->
    <div class="Shipment-container">
        <!-- Start: Filter-->
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "Pickups",
                Controller = "Report",
                SelectListType = new byte[] 
                { 
                    (byte)EnumSelectListType.Zone, 
                    (byte)EnumSelectListType.Vendor
                },
                Lookup = Model.Lookup
            });
            }
        </div>
    </div>
    <!-- END  : Filter-->
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Red-Table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Vendor</td>
                    <td>Details</td>
                    <td class="text-nowrap"># Shipments </td>
                    <td>Date</td>
                    <td>Time</td>
                    <td class="text-center">Status</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
                <partial name="/Views/Report/Pickup/_Pickups.cshtml" model="Model.ObjDTOs" />
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @{
                            await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "Pickups", Controller = "Report", Count = Model.ObjDTOs.Count });
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="PickupRequstDetails" tabindex="-1" role="dialog" aria-labelledby="PickupRequstDetails-ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div>
                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="PickupRequstDetails-Body">
                    <h2 class="ml-4"></h2>
                    <h2 class="Model-Titel">Pickups included</h2>
                    <div class="Table-container" id="PickupRequstDetails-TableSection">
                        <table id="Red-Table" class="table">
                            <tbody id="tblContent">
                                <tr>
                                    <td colspan="10">
                                        <div class="spinner-border text-danger ml-50" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START: Card Data-->
</main>