
@using DicomApp.BL.Services;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.PickupDTOs;
@model List<PickupDTO>
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

  <table class="table">
    <thead>
        <partial name="_ReportHeder" model="11" />
        <tr>
            <td>Code</td>
            <td>Name</td>
            <td> Details </td>
            <td class="text-nowrap"># Shipments </td>
            <td>Date</td>
            <td>Time</td>
            <td>Instructions</td>
            <td>Status</td>
            <td>Comments</td>
        </tr>
    </thead>
     <tbody>
       @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.RefId</td>
                    <td>@item.VendorName</td>
                    <td>@item.VendorAddress <br />@item.VendorPhone</td>
                    <td>@item.PickupItemsCount</td>
                    <td>@item.PickupDate.ToShortDateString()</td>
                    <td class="text-nowrap">@item.TimeFrom.ToShortTimeString():@item.TimeTo.ToShortTimeString()</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <partial name="_StatusPickupSwitch" model="@item" />
                    <td><span class="Comments-Table">@(item.Notes ?? "---")</span></td>
                </tr>
            }
        }
        else{
        <tr>
            <td colspan="16" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
        }
      </tbody>
  </table>