
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.Helpers;
@using LegendCR.BL.Services;
@model List<UserDTO>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr id="User_@item.Id">
            <td id="Td-VendorInfo">
                <b>@item.Name</b> <br>
                @item.Address <br>
                @item.PhoneNumber<br>
                @item.Email
            </td>
            <td class="text-nowrap Date-Table">@item.CreationDate.ToString("MMM") @item.CreationDate.ToString("dd"),@item.CreationDate.ToString("yyy")</td>
            <td id="Td-ProductType">@item.ProductType</td>
            <td class="text-center">@item.Email</td>
            <td id="Td-Password">@item.Password</td>
            <td class="text-center"><img id="Td-Img" src="@(!string.IsNullOrEmpty(item.ImgUrl) ? "/dist/images/" + @item.ImgUrl:"/dist/images/Fake-Img2.png")" width="150" /></td>
            <td>
                <div class="Actions-Buttons">
                    <ul>
                        <li class="Green-Bg font-weight-bold"><a href="@Url.Action("VendorDetails", "User", new { ID = item.Id })" target="_blank"><i class="icon-note"></i></a></li>
                        <li onclick="OpenModal(@item.Id ,'DeleteVendor-Model')" class="Red-Bg"><i class="icon-trash"></i></li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="9">
            <h6 class="text-center text-danger my-5">No data available in table</h6>
        </td>
    </tr>
}
<input type="hidden" value="@(Model != null ? Model.Count : 0)" id="DataCount" />