@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.Helpers
@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@model List<AdsDTO>
@inject IStringLocalizer<GamerController> Localizer

@if (Model != null && Model.Any())
{
	foreach (var adv in Model)
	{
		<div class="col-md-3 col-sm-6 @adv.Game.NameEn.RemoveWhiteSpace()">
			<div class="">
				<div class="single-portfolio-img">
					<img src="/dist/images/@(adv.AdvertisementPhotos?.FirstOrDefault() ?? "portfolio1.png")" alt="portfolio" />
					<a href="javascript:;" onclick="OpenPurchasePopUp(@adv.AdvertisementId)" class="popup-youtube">
						<i class="icofont icofont-game-control"></i>
					</a>
				</div>
				<div class="portfolio-content">
					<h3>@adv.UserName</h3>
					<h5>@adv.Price $</h5>
				</div>
			</div>
		</div>
	}
}
else
{
	<div class="d-flex justify-content-center w-100 mt-5">
		<img src="~/gamerlayout/assets/css/rejected.png" />
		<h1>@Localizer["thereAreNoAccounts"]</h1>
	</div>
}