@using DicomApp.BL.Services;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs;
@using DicomApp.CommonDefinitions.DTO.CashDTOs;
@model ViewModel<InvoiceDTO>

<main>
    <div class="container-fluid site-width">
        <!-- START: Filter-->
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Shipments Report</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)EnumStatus.All)">
                                <a onclick="FilterByStatus('Shipments','Report','All',@((int)EnumStatus.All))" href="javascript:;">All</a>
                            </li>
                            <li id="Pending-Shipments" data-status="@((int)EnumStatus.Current)">
                                <a onclick="FilterByStatus('Shipments','Report','Pending-Shipments', @((int)EnumStatus.Current))" href="javascript:;">Pending Shipments</a>
                            </li>
                            <li id="Delivered-Shipments" data-status="@((int)EnumStatus.Delivered)">
                                <a onclick="FilterByStatus('Shipments','Report','Delivered-Shipments',@((int)EnumStatus.Delivered))" href="javascript:;">Delivered Shipments</a>
                            </li>
                            <li id="Cancelled-Shipments" data-status="@((int)EnumStatus.Cancelled)">
                                <a onclick="FilterByStatus('Shipments','Report','Cancelled-Shipments',@((int)EnumStatus.Cancelled))" href="javascript:;">Cancelled Shipments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Filter-->
    <div class="Shipment-container">
        <!-- Start: Filter-->
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "Shipments",
                Controller = "Report",
                Columns = 6,
                SelectListType = new byte[]
            {
            (byte)EnumSelectListType.Vendor,
            (byte)EnumSelectListType.Zone,
            (byte)EnumSelectListType.Courier
            },
                Lookup = Model.Lookup
            });
            }
        </div>

        <!-- END  : Filter-->
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table id="Red-Table" class="table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Vendor</td>
                    <td class="Sort-Column">Date</td>
                    <td>Customer</td>
                    <td>Branch</td>
                    <td>service</td>
                    <td>Fees</td>
                    <td class="Sort-Column">COD</td>
                    <td class="Sort-Column">Status</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
                <partial name="/Views/Report/Shipment/_Shipments.cshtml" model="Model.ObjDTOs" />
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @{
                            await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "Shipments", Controller = "Report", Count = (Model.ObjDTOs != null ? Model.ObjDTOs.Count : 0) });
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- START: Card Data-->
</main>