
@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs
@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers
@model ViewModel<ShipDTO>

<thead>
    <tr>
        <td>Route</td>
        <td># of Customers</td>
        <td># of Shipments</td>
        <td>Date</td>
        <td>Actions</td>
    </tr>
</thead>
<tbody>
    @if (Model.ObjDTOs != null && Model.ObjDTOs.Count > 0)
    {
        @foreach (var item in Model.ObjDTOs.GroupBy(g => g.ZoneId))
        {
            <tr>
                <td>@item.FirstOrDefault().ZoneName</td>
                <td>@item.GroupBy(s => s.CustomerDetailsDTO.CustomerName).Count()</td>
                <td>@item.Count()</td>
                <td>@item.OrderBy(o => o.CreatedAt).FirstOrDefault().CreatedAt</td>
                <td>
                    <form asp-action="Assign" asp-controller="Shipment" method="post">
                        <div class="Actions-Buttons">
                            <ul>
                                <li class="Orange-Bg">
                                    <a data-toggle="modal" data-target="#ShipmnetList-Modal_@item.Key"><img class="w-20" src="/dist/images/Icons/User.png" /></a>

                                    <!-- ShipmnetList Model -->
                                    <div class="modal fade" id="ShipmnetList-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="Pickupsincluded-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="ml-4"></h2>
                                                    <h2 class="Model-Titel">Shipments included</h2>
                                                    <div class="Table-container Max-height">
                                                        <table class="table text-center" id="Table_@item.Key">
                                                            <thead>
                                                                <tr>
                                                                    <td><input type="checkbox" id="SelectArea_@item.Key" onchange="SelectShipment('@item.Key')"></td>
                                                                    <td class="text-nowrap">Code</td>
                                                                    <td>Vendor</td>
                                                                    <td>Barnch</td>
                                                                    <td>Service</td>
                                                                    <td>COD</td>
                                                                    <td>Area</td>
                                                                    <td>Address</td>
                                                                    <td># of Items</td>
                                                                    <td>Weight</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var Shipment in item)
                                                                {
                                                                    <tr>
                                                                        <td><input type="checkbox" value="@Shipment.ShipmentId" name="ShipmentIDs" id="checkbox_@Shipment.ShipmentId" checked=@Shipment.SELECTED></td>
                                                                        <td><b onclick="ShipmentDetails('Shipment',@Shipment.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@Shipment.RefId</b></td>
                                                                        <td>@Shipment.VendorDetailsDTO.VendorName</td>
                                                                        <td>@Shipment.BranchName</td>
                                                                        <td>@Shipment.ShipmentServiceName</td>
                                                                        <td>@Shipment.FeesDetailsDTO.Total</td>
                                                                        <td>@Shipment.AreaName</td>
                                                                        <td>@Shipment.CustomerDetailsDTO.CustomerAddress</td>
                                                                        <td>@Shipment.NoOfItems</td>
                                                                        <td>@Shipment.SettingDTO.Weight KG</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button class="Red-Btn-OutLine OutLine-Red Btn-Model ml-3" type="button" data-toggle="modal" data-target="#courrier-Modal_@item.Key" data-dismiss="modal">Select Courrier</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Assign to courrier Model -->
                                    <div class="modal fade" id="courrier-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="courrier-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="Model-Titel">Assign to courrier</h2>
                                                    <div class="col-lg-12 Courriers-Modal">
                                                        <label class="Label-Model">Courriers</label>
                                                        @Html.DropDownList("ddldriver", new SelectList(Model.Lookup.CourierDTOs, "Id", "Name"),"--- Select Delivery ---", new { @class = "input-Model",@required = "required"})
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <button class="Red-Btn-OutLine OutLine-Red Btn-Model" type="submit" id="BtnSave">
                                                            Assign
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="Blue-Bg">
                                    <a data-toggle="modal" data-target="#ViewShipmnt-Modal_@item.Key"> <i class="icon-eye F-Large"></i></a>

                                    <!-- Pickups included Model -->
                                    <div class="modal fade" id="ViewShipmnt-Modal_@item.Key" tabindex="-1" role="dialog" aria-labelledby="Pickupsincluded-ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div>
                                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h2 class="ml-4"></h2>
                                                    <h2 class="Model-Titel">Shipment included</h2>
                                                    <div class="Table-container Max-height">
                                                        <table class="table text-center" id="Table_@item.Key">
                                                            <thead>
                                                                <tr>
                                                                    <td>Code</td>
                                                                    <td>Vendor</td>
                                                                    <td>Service</td>
                                                                    <td>COD</td>
                                                                    <td>Area</td>
                                                                    <td>Address</td>
                                                                    <td>Packages #</td>
                                                                    <td>Weight</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var Shipment in item)
                                                                {
                                                                    <tr>
                                                                        <td><b onclick="ShipmentDetails('Shipment',@Shipment.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@Shipment.RefId</b></td>
                                                                        <td>@Shipment.VendorDetailsDTO.VendorName</td>
                                                                        <td>@Shipment.ShipmentServiceName</td>
                                                                        <td>@Shipment.FeesDetailsDTO.Total</td>
                                                                        <td>@Shipment.AreaName</td>
                                                                        <td>@Shipment.CustomerDetailsDTO.CustomerAddress</td>
                                                                        <td>@Shipment.NoOfItems</td>
                                                                        <td>@Shipment.SettingDTO.Weight KG</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="13" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
</tbody>