
@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs
@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers
@model ViewModel<ShipDTO>

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Shipments List</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)EnumStatus.All)"> <a onclick="FilterByStatus('All','Shipment','All',@((int)EnumStatus.All))" href="javascript:;">All</a></li>
                            <li id="Current-Shipments" data-status="@((int)EnumStatus.Current)"> <a onclick="FilterByStatus('All','Shipment','Current-Shipments', @((int)EnumStatus.Current))" href="javascript:;">Current Shipments</a></li>
                            <li id="Returned-Shipments" data-status="@((int)EnumStatus.CourierReturn)"><a onclick="FilterByStatus('All','Shipment','Returned-Shipments',@((int)EnumStatus.CourierReturn))" href="javascript:;">Returned Shipments</a></li>
                            <li id="Cancelled-Shipments" data-status="@((int)EnumStatus.Cancelled)"> <a onclick="FilterByStatus('All','Shipment','Cancelled-Shipments', @((int)EnumStatus.Cancelled))" href="javascript:;">Cancelled Shipments</a></li>
                            <li id="Done-Shipments" data-status="@((int)EnumStatus.Done)"> <a onclick="FilterByStatus('All','Shipment','Done-Shipments', @((int)EnumStatus.Done))" href="javascript:;">Done Shipments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "All",
                Controller = "Shipment",
                Columns = 6,
                Lookup = Model.Lookup,
                SelectListType = new byte[]
            {
            (byte)EnumSelectListType.Vendor,
            (byte)EnumSelectListType.Zone,
            (byte)EnumSelectListType.Area,
            (byte)EnumSelectListType.Status
            },
            });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    @*<div id="Grid">*@
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_All" model="@Model.ObjDTOs" />
        </table>
    </div>
    @*</div>*@

    <br /><br />
    @* <form method="post" asp-action="Export" asp-controller="Shipment">
    <input type="hidden" name="GridHtml" />
    </form>*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>*@
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@
   @* <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {


                var htmldata = $("input[name='GridHtml']").val($("#Grid").html());
                alert(htmldata);
                //var htmldata = $(".Table-container").html();
                htmldata = htmldata.replace(/</g, "strTag").replace(/>/g, "EndTag");
                window.location = window.location.origin + '/Shipment/GeneratePDF?html=' + htmldata;
            });
        });
    </script>*@
</main>