@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs
@model List<ShipDTO>
@{
    Layout = "/Views/Shared/_PrintLayout.cshtml";
    int Index = 0;
}
<link href="~/dist/css/policystyle.css" rel="stylesheet" />

<main>
    @foreach (var item in Model)
    {
        <section class="Container">
            <div>
                <h1>Shipment Policy</h1>
                <h1>#@(item.RefId)</h1>
            </div>
            <div class="Personal-Information">
                <h5>Personal Information</h5>
                <ul>
                    <li>
                        <span>Name : <b>@item.CustomerDetailsDTO.CustomerName</b></span>
                    </li>
                    <ul>
                        <li>
                            <span>Number 1: <b>@item.CustomerDetailsDTO.CustomerPhone</b></span>
                        </li>
                        <li>
                            <span>Number 2: <b>@item.CustomerDetailsDTO.CustomerPhone2</b></span>
                        </li>
                    </ul>
                </ul>
                <p>Address : <b>@item.CustomerDetailsDTO.CustomerAddress</b></p>
                <p>
                    <span>Floor <b>@item.CustomerDetailsDTO.Floor</b></span>,
                    <span>Apartment <b>@item.CustomerDetailsDTO.Apartment</b></span>
                </p>
                <p>Landmark : <b>@item.CustomerDetailsDTO.Landmark</b></p>
            </div>
            <div class="Shipment-Information-Section">
                <div class="Shipment-Information-Heder">
                    <table>
                        <tr>
                            <td>
                                <h5>Shipment Information</h5>
                            </td>
                            <td><h5>Pickup & Delivery</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="Shipment-Information-Content">
                    <div>
                        <table>
                            <tr>
                                <td>Area</td>
                                <td><b>@item.AreaName</b></td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td><b>@item.BranchName</b></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td>Vendor</td>
                                <td><b>@item.VendorDetailsDTO.VendorName</b></td>
                            </tr>
                            <tr>
                                <td>Shipment Code</td>
                                <td><b>#@item.RefId</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                @if (item.ShipItemDTOs != null && item.ShipItemDTOs.Count() > 0)
                {
                    <div class="Description-Section">
                        <h5>Items</h5>
                        <div class="@(item.ShipItemDTOs.Count() < 5 ? "OneTable":"")">
                            <table>
                                <thead>
                                    <tr>
                                        <td>Item Name</td>
                                        <td>Quantity</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (item.ShipItemDTOs != null && item.ShipItemDTOs.Count() > 0)
                                    {
                                        foreach (var Shipitem in item.ShipItemDTOs)
                                        {
                                            Index++;
                                            if (Index == 10)
                                            {
                                                break;
                                            }
                                            <tr>
                                                <td>@Shipitem.Name</td>
                                                <td>@Shipitem.Quantity</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="Date-Section">
                    <div>
                        <table>
                            <tr>
                                <td>Fragile</td>
                                <td>Open Package</td>
                                <td>Partial Delivery</td>
                            </tr>
                            <tr>
                                <td><b>@(item.SettingDTO.IsFragilePackage ? "Yes" : "No")</b></td>
                                <td><b>@(item.SettingDTO.IsOpenPackage ? "Yes" : "No")</b></td>
                                <td><b>@(item.SettingDTO.IsPartialDelivery ? "Yes" : "No")</b></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td>DATE SUBMITTED</td>
                            </tr>
                            <tr>
                                <td>
                                    <b>
                                        @item.CreatedAt.ToString("ddd"), @item.CreatedAt.ToString("dd/MM/yy")
                                        <br />
                                        @item.CreatedAt.ToString("H:mm:ss") GMT
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="Total-Section">
                    <div>
                        <img src="~/dist/images/qr.png" />
                    </div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <td>COD</td>
                                    <td>Shipping Fees</td>
                                </tr>
                            </thead>
                            <tr>
                                <td class="p-3"><strong>@item.FeesDetailsDTO.Total EGP</strong></td>
                                <td class="p-3"><strong>@item.FeesDetailsDTO.ShippingFees EGP</strong></td>
                            </tr>
                            <tr>
                                <td>WEIGHT</td>
                                <td><b>@item.SettingDTO.WarehouseWeight KG</b></td>
                            </tr>
                            <tr>
                                <td>SIZE</td>
                                <td>
                                    <b>@item.SettingDTO.WarehouseSize CM<sup>3</sup></b>
                                </td>
                            </tr>
                            <tr>
                                <td># OF PACKAGES</td>
                                <td><b>@item.NoOfItems</b></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <img src="/dist/images/Red2.png" />
                    </div>
                </div>
            </div>
        </section>
    }
</main>