@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.CashDTOs;
@using DicomApp.DAL.DB
@model List<TransactionDTO>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr id="Tr_@item.TransactionId">
            <td id="RefId">@item.RefId</td>
            <td id="IsSuccess">@item.IsSuccess</td>
            <td id="Amount">@item.Amount</td>
            <td id="PaymentId">@item.PaymentId</td>
            <td id="TransactionSource">@item.TransactionSource</td>
            <td id="TransactionType">@item.TransactionType</td>
            <td id="CreatedAt"><b>@item.CreatedAt</b></td>
            <td id="Attachment">@if (!string.IsNullOrEmpty(item.Attachment))
                {
                    <img src="/dist/images/@item.Attachment
                    " width="150" />
                }
            </td>
            <td>
                <div class="Actions-Buttons">
                    @if (!item.IsSuccess && item.TransactionSource ==  TransactionSourceEnum.Attachments )
                   {
                    <ul class="">
                        <li class="Green-Bg" onclick="OpenEditGameChargeModel(@item.AdvertisementId,'EditGameCharge-Model')"><a href="javascript:;"><i class="icon-check F-Medium text-white"></i></a></li>
                    </ul>
                   }
                </div>
            </td>
        </tr>
    }
}
<input type="hidden" value="@(Model != null ? Model.Count : 0)" id="DataCount" />

