
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.CommonDefinitions.DTO.PickupDTOs;
@model List<PickupDTO>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr onclick="GetDeliveryPickups('@item.PickupRequestId')" data-target="#PickupRequstDetails" data-toggle="modal">
            <td class="text-nowrap"><b>@item.RefId</b></td>
            <td>@item.VendorName</td>
            <td>@item.VendorAddress <br />@item.VendorPhone</td>
            <td>@item.PickupItemsCount</td>
            <td>@item.PickupDate.ToShortDateString()</td>
            <td class="text-nowrap">@item.TimeFrom.ToShortTimeString() : @item.TimeTo.ToShortTimeString()</td>
            <partial name="_StatusPickupSwitch" model="@item" />
            <td><span class="Comments-Table">@(item.Notes ?? "---")</span></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="16" class="text-danger text-center"><h3>No data available in table</h3></td>
    </tr>
}
<input type="hidden" value="@Model.Count" id="DataCount" />
