
@using DicomApp.CommonDefinitions.DTO.ShipmentDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model List<ShipDTO>
<thead>
    <tr>
        <th class="Sort-Column text-center">Code</th>
        <th class="Sort-Column text-center">Vendor</th>
        <th class="Sort-Column text-center">Date</th>
        <th class="text-center">Customer</th>
        <th class="text-center">Barnch</th>
        <th class="text-center">Service</th>
        <th class="Sort-Column text-center">RED Fees</th>
        <th class="Sort-Column text-center">COD</th>
        <th class="text-center">Status</th>
    </tr>
</thead>
<tbody id="TableBody">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var ship in Model)
        {
            double REDFees = ship.FeesDetailsDTO.ShippingFees + ship.FeesDetailsDTO.PackingFees + ship.FeesDetailsDTO.WeightFees + ship.FeesDetailsDTO.SizeFees + ship.FeesDetailsDTO.PartialDeliveryFees;

            <tr id="TableRow_@ship.ShipmentId">
                <td class="td-small text-center text-nowrap pl-1 pr-1" onclick="ShipmentDetails('Shipment',@ship.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails"><b>@ship.RefId</b></td>
                <td class="td-small text-center pl-1 pr-1" style="min-width:100px;">@ship.VendorDetailsDTO.VendorName</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1 Date-Table">@ship.CreatedAt.ToString("dd MMM yyyy")</td>
                <td class="td-small text-center pl-1 pr-1">
                    @ship.CustomerDetailsDTO.CustomerName
                    <br />
                    <label class="text-nowrap mt-1"><i class="fa fa-map-marker"></i>&nbsp;@ship.AreaName</label>
                </td>
                <td class="td-small text-center">@ship.BranchName</td>
                <td style=" min-width:80px" class="td-small text-center pl-1 pr-1">@ship.ShipmentServiceName</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1">@REDFees EGP</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1">@ship.FeesDetailsDTO.Total EGP</td>
                <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@ship.StatusDTO"></partial>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="13" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
</tbody>
<tfoot>
    <tr>
        <td colspan="13">
            @{
                await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "All", Controller = "Shipment", Count = Model.Count, StatusId = (int)EnumStatus.All });
            }
        </td>
    </tr>
</tfoot>
<input type="hidden" value="@Model.Count" id="DataCount" />