
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.VendorProductDTOs;
@using DicomApp.Helpers;
@model List<VendorProductDTO>
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    string path = Url.ActionContext.HttpContext.Request.Path;
    var Role = AuthHelper.GetClaimValue(User, "RoleID");
}
    @if (Model != null && Model.Count() > 0)
{
  <table class="table">
    <thead>
        <partial name="_ReportHeder" model="11" />
            <tr>
                @if (Role != (int)EnumRole.Vendor)
                {
                    <td>Vendor Name</td>
                }
                <td>Item Code</td>
                <td>Item Name</td>
                <td>Item Size</td>
                <td>Item Price</td>
                <td>Description</td>
                <td>Image</td>
            </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
              <tr>
                @if (Role != (int)EnumRole.Vendor)
                {
                    <td id="AccountName_@item.VendorProductId">@item.VendorName</td>
                }
                <td>@item.VendorProductId</td>
                <td>@item.Name</td>
                <td>@(item.Size ?? "0") cm</td>
                <td>@item.OriginalPrice EGP</td>
                <td>@item.Description</td>
                <td>
                    <img src="/dist/images/@item.ImageUrl" alt="" width="55">
                </td>
              </tr> 
            }
    </tbody>
  </table>
}