
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@using DicomApp.DAL.DB;
@model List<ZoneTax>
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs -->
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Zone Fees List</h4></div>
                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Admin Management</li>
                        <li class="breadcrumb-item active"><a href="#">Zone Fees List</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs -->
        <!-- START: Data Table -->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header justify-content-between align-items-center">
                        <h4 class="card-title">Zone Fees List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered dataTable table-hover" id="DataTable"  style="font-weight:bold;color:darkblue">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Zone Name</th>
                                        <th>Shipping Fees</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td>@(Model[i].Zone == null ? string.Empty : Model[i].Zone.NameAr)</td>
                                            <td>@Model[i].Tax</td>
                                            <td>
                                                <!-- START: Edit Form -->
                                                <a data-toggle="modal" data-target="#EditForm_@Model[i].Id" class="text-success edit-document h5"><i class="icon-pencil"></i></a>
                                                <div class="modal fade text-left" id="EditForm_@Model[i].Id" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <form class="needs-validation" method="post" action="@Url.Action("EditZoneTax", "Admin", new { ZoneTaxID = Model[i].Id })" novalidate>
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Edit Zone Fees</h5>
                                                                    <button type="button" class="close" data-dismiss="modal">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <h6 class="modal-title" style="margin-bottom:5px">Zone Name : <b>@Model[i].Zone.NameAr</b></h6>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <h6 class="modal-title" style="margin-bottom:5px">Shipping Fees :</h6>
                                                                        <input class="form-control" type="number" name="Tax" value="@Model[i].Tax" required />
                                                                        <div class="invalid-feedback">
                                                                            Please enter a valid shipping fees.
                                                                        </div>
                                                                        <input class="form-control" type="text" hidden name="ZoneId" value="@Model[i].ZoneId" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <input type="submit" class="btn btn-success font-weight-bold text-white" value="Edit Zone Fees" />
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Cancel</b></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <!-- END: Edit Form -->
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Data Table -->
    </div>
</main>