
@using DicomApp.CommonDefinitions.DTO;
@model UserDTO
@if (Model.RoleID != (int)EnumRole.Vendor)
{
    <tr id="User_@Model.Id">
        <td class="text-nowrap" id="Td-Name">@Model.Name</td>
        <td id="Td-Info">
            @Model.PhoneNumber <br>
            @Model.Address <br>
            @Model.Email <br>
        </td>
        <td class="text-nowrap" id="Td-Role"><b>@Model.RoleName</b></td>
        <td>@Model.CreationDate.ToShortDateString()</td>
        <td>@Model.Email</td>
        <td><img src="/dist/images/Fake-Img2.png" /></td>
        <td class="pt-5">
            <div class="Actions-Buttons">
                <ul>
                    <li class="Green-Bg"><a onclick="OpenEditUserModel(@Model.Id , 'EditEmployee-Model')"><i class="icon-note"></i></a></li>
                    <li onclick="OpenModal(@Model.Id ,'DeleteEmployee-Model')" class="Red-Bg"><i class="icon-trash"></i></li>
                    <li class="Blue-Bg" onclick="OpenModal(@Model.Id ,'ChangePassword-Model')" data-toggle="modal"><i class="icon-key"></i></li>
                </ul>
            </div>
        </td>
    </tr>
}
else if (Model.RoleID == (int)EnumRole.Vendor)
{
    <tr id="User_@Model.Id">
        <td id="Td-VendorInfo">
            <a href="@Url.Action("AccountStatement","PaymentReceive", new { clientid = Model.Id })" target="_blank"> <b>@Model.Name</b></a><br>
            @Model.Address <br>
            @Model.PhoneNumber<br>
            @Model.Email
        </td>
        <td class="text-nowrap Date-Table">@Model.CreationDate.ToString("MMM") @Model.CreationDate.ToString("dd"),@Model.CreationDate.ToString("yyy")</td>
        <td id="Td-ProductType">@Model.ProductType</td>
        <td class="text-center">@Model.Email</td>
        <td id="Td-Password">@Model.Password</td>
        <td class="text-center"><img src="@(!string.IsNullOrEmpty(Model.ImgUrl) ? Model.ImgUrl:"/dist/images/Fake-Img2.png")" /></td>
        <td>
            <div class="Actions-Buttons">
                <ul>
                    <li class="Green-Bg"><a onclick="ToggleFade('VendorsManagement-List','Vendor-Div');  OpenEditUserModel(@Model.Id,'Vendor-Div',false)"><i class="icon-note"></i></a></li>
                    <li onclick="OpenModal(@Model.Id ,'DeleteVendor-Model')" class="Red-Bg"><i class="icon-trash"></i></li>
                </ul>
            </div>
        </td>

    </tr>
}
