@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@model ForgotPasswordDTO
@inject IStringLocalizer<UserController> _stringLocalizer

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}
<div class="ForgotPassword">
    <h1>@_stringLocalizer["resetPassword"]</h1>
    <p>@_stringLocalizer["enterResetPassword"]</p>
    <form asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <label asp-for="Email">@_stringLocalizer["email"]</label>
            <input asp-for="Email" class="form-control" placeholder="@_stringLocalizer["email"]" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@_stringLocalizer["send"]</button>
    </form>
</div>
