
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@model ViewModel<UserDTO>

@{
    string connectionString = @Startup.Configuration["ConnectionStrings:DicomAppDBEntities"];
    int roleID = 0;
    if (User.Identity.IsAuthenticated)
    {
        //roleID = AuthHelper.GetClaimValue(User, "RoleID");
        roleID = 0;
    }
}
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header mb-3">
                    <span class="Header-Titel">Staff Management</span>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow",
                new OptionDTO
            {
                Action = "ListUser",
                Controller = "User",
                Lookup = Model.Lookup,
                SelectListType = new byte[] { (byte)EnumSelectListType.Role }
            });
            }
            <div class="row Red-Row w-100">
                <div class="col-lg-12 RedBtn-Section">
                    <a href="#" data-toggle="modal" data-target="#AddStaff-Model" class="Red-Btn btn-info">
                        <i class="fas h5 mr-2 fa-plus-circle"></i>Add New User
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Red-Table">
            <thead>
                <tr>

                    <td>Name</td>
                    <td>Role</td>
                    <td>Email</td>
                    <td>Phone No.</td>
                    <td>Join Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <partial name="_ListUser" model="Model.ObjDTOs" />
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @{
                            await Html.RenderPartialAsync("_Pagination",
                            new OptionDTO
            {
                Action = "ListUser",
                Controller = "User",
                Count = Model.ObjDTOs != null ? Model.ObjDTOs.Count : 0
            });
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Add New User Model -->
    <div class="modal fade" id="AddStaff-Model" tabindex="-1" role="dialog" aria-labelledby="AddStaffLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="Model-Titel">Add New User</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="AddUser" asp-controller="User" method="post">
                        <div class="container-fluid P-Model">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="Label-Model">Full Name</label>
                                    <input class="input-Model" id="Name" name="Name" placeholder="Full Name" required />
                                    <div class="invalid-feedback">
                                        Please enter full name.
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="Label-Model">Role</label>
                                    @Html.DropDownList(nameof(Model.ObjDTO.RoleID),new SelectList(Model.Lookup.RoleDTOs, "Id", "Name"),"--- Select Role ---", new { @class = "input-Model", @required = "required" })
                                    @Html.ValidationMessage(nameof(Model.ObjDTO.RoleID), "", new { @class = "error" })
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Address</label>
                                    <input class="input-Model" id="Address" name="Address" placeholder="Address" required />
                                    <div class="invalid-feedback">
                                        Please enter Address.
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Phone No.</label>
                                    <input class="input-Model" type="number" id="PhoneNumber" name="PhoneNumber" placeholder="Phone No." required />
                                    <div class="invalid-feedback">
                                        Please enter Phone No.
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Email (User Name)</label>
                                    <input class="input-Model" type="email" id="Email" name="Email" placeholder="Email" required />
                                    <div class="invalid-feedback">
                                        Please enter Email.
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Password</label>
                                    <input class="input-Model" type="password" id="Password" name="Password" placeholder="Password" required />
                                    <div class="invalid-feedback">
                                        Please enter Password.
                                    </div>
                                </div>
                                @*<div class="col-lg-6">
                                <button class="Red-Btn btn-info pull-left" onclick="OpenFileInput('AddStaff-Form')" type="button">Upload Photo</button>
                                <input id="ImgFile" data-id="ImgFile" name="file" type="file" onchange="DisplayUpdateImg(event)" accept="image/gif, image/jpeg, image/png" hidden class="img" />
                                </div>*@
                                <div class="col-lg-12 pt-4">
                                    <button type="submit" class="Red-Btn btn-success pull-right">ِAdd User</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Employee Model -->
    <div class="modal fade" id="EditEmployee-Model" tabindex="-1" role="dialog" aria-labelledby="EditEmployeeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="Model-Titel">Edit User</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditUser" asp-controller="User" method="post">
                        <input id="Id" name="Id" type="hidden" />
                        <div class="container-fluid P-Model">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="Label-Model">Full Name</label>
                                    <input class="input-Model" id="Name" name="Name" placeholder="Full Name" required />
                                    <div class="invalid-feedback">
                                        Please enter full name.
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="Label-Model">Role</label>
                                    @Html.DropDownList(nameof(Model.ObjDTO.RoleID),new SelectList(Model.Lookup.RoleDTOs, "Id", "Name"),"--- Select Role ---", new { @class = "input-Model", @required = "required" })
                                    @Html.ValidationMessage(nameof(Model.ObjDTO.RoleID), "", new { @class = "error" })
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Address</label>
                                    <input class="input-Model" id="Address" name="Address" placeholder="Address" required />
                                    <div class="invalid-feedback">
                                        Please enter Address.
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Phone No.</label>
                                    <input class="input-Model" type="number" id="PhoneNumber" name="PhoneNumber" placeholder="Phone No." required />
                                    <div class="invalid-feedback">
                                        Please enter Phone No.
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-3">
                                    <label class="Label-Model">Email (User Name)</label>
                                    <input class="input-Model" type="email" id="Email" name="Email" placeholder="Email" required />
                                    <div class="invalid-feedback">
                                        Please enter Email.
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-4">
                                    <button type="submit" class="Red-Btn btn-success pull-right">ِEdit User</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Employee Model -->
    <div class="modal fade" id="DeleteEmployee-Model" tabindex="-1" role="dialog" aria-labelledby="DeleteEmployeeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="Model-Titel">Delete User</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="Model-Contetn text-danger">Deleting the selected employee is permanent. You won’t be able to undo this action.</h5>
                    <input type="hidden" id="EntityId" />
                    <div class="col-lg-12">
                        <button class="Red-Btn-OutLine ml-3 Btn-Model btn-success pull-right" type="button" data-dismiss="modal" onclick="DeleteEntity('User','DeleteUser','User_')" id="BtnDelete">Delete </button>
                        <button class="Red-Btn-OutLine Btn-Model pull-left" type="button" data-dismiss="modal"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Change Password Model-->
    <div class="modal fade" id="ChangePassword-Model" tabindex="-1" role="dialog" aria-labelledby="DeleteEmployeeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="Model-Titel">Change Password</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ChangePassword-Form" asp-action="ChangePassword" asp-controller="User" method="post">
                        <input id="Id" name="Id" type="hidden" />
                        <div class="Change-Password">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <label class="Shipment-Details-label">New Password</label>
                                    <input type="password" class="mb-3" id="NewPassword" name="NewPassword" placeholder="New Password" required />
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <label class="Shipment-Details-label ">Confirm New Password</label>
                                    <input type="password" class="mb-3" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required />
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="EntityId" name="EntityId" />
                        <div class="col-lg-12">
                            <button class="Red-Btn btn-success pull-right" type="submit">Change Password</button>
                            <button class="Red-Btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>