
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@model UserDTO
@inject IStringLocalizer<UserController> _stringLocalizer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- START: Head-->
<head>
    <meta charset="UTF-8">
    <title>Legend CR</title>
    <link rel="shortcut icon" href="~/dist/images/logo.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- START: Template CSS-->
    <link rel="stylesheet" href="~/dist/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/vendors/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/dist/vendors/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="~/dist/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/dist/vendors/flags-icon/css/flag-icon.min.css">

    <!-- END Template CSS-->
    <!-- START: Page CSS-->
    <link rel="stylesheet" href="~/dist/vendors/social-button/bootstrap-social.css" />
    <!-- END: Page CSS-->
    <!-- START: Custom CSS-->
    <link href="~/dist/css/main-new.css" rel="stylesheet" />
    <link href="~/dist/css/red.css" rel="stylesheet" />
  
    <!-- END: Custom CSS-->
</head>
<!-- END Head-->
<!-- START: Body-->
<body id="main-container" class="default">
    <!-- START: Main Content-->
    <div class="Form-Container">
      <div class="Form-Section">
        <form method="post" asp-action="Login" id="Login-Form" class="row lockscreen">
            <div class="login-form col-12 col-sm-12 ">
                <div class="mb-3">
                    <center><img src="~/dist/images/cub.png" /></center>
                    <h1 class="text-center">@_stringLocalizer["login"]</h1>
                </div>
                <div class="form-group mb-3">
                    <label for="emailaddress">@_stringLocalizer["email"]</label>
                        @Html.TextBoxFor(model => model.Email, new
                            {
                                @type = "email",
                                @placeholder = $"{@_stringLocalizer["pleaseEnter"]} {_stringLocalizer["email"]}", @id = "emailaddress", @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })
                </div>

                <div class="form-group mb-3">
                        <label for="password">@_stringLocalizer["password"]</label>
                    @Html.PasswordFor(model => model.Password, new { @placeholder =$"{@_stringLocalizer["pleaseEnter"]} {_stringLocalizer["password"]}", @class = "form-control", @id = "password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-message" })
                </div>
                <div class="d-flex justify-content-around">
                    <a class="Regester" href="/User/Create">@_stringLocalizer["createNewUser"]</a>
                    <a class="Regester" href="@Url.Action("ForgotPassword","User")">@_stringLocalizer["forgotPassword"]</a>
                </div>
                 <div class="form-group mb-0">
                        <button class="login-button w-100" onclick="ShowSpiner()" type="submit">
                           @_stringLocalizer["login"]
                            <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                        </button>
                </div>
                <div class="mt-2 mt-4 h6 text-center text-white">@ViewBag.error</div>
            </div>
        </form>
    </div>
    </div>

    <!-- END: Content-->
    <!-- START: Template JS-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="~/dist/js/jquery.validate.min.js"></script>
    <script src="~/dist/js/jquery.validate.unobtrusive.min.js"></script>
   <script>
       function ShowSpiner(){
            if ($(`#Login-Form`).valid()) {
                $('.Spinner').removeClass('d-none');
            }
       }
   </script>
    <!-- END: Template JS-->
</body>
<!-- END: Body-->
</html>
