
@using DicomApp.CommonDefinitions.DTO;
@model List<BranchDTO>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr id="Branch_@item.BranchId">
            <td id="BranchName">@item.BranchName</td>
            <td td="Address"><b>@item.Address</b></td>
            <td id="City">@item.City</td>
            <td id="Phone">@item.Phone</td>
            <td id="State">@item.State</td>
            <td id="Description">@item.Description</td>
            <td>
                <div class="Actions-Buttons">
                    <ul>
                        <li class="Green-Bg">
                            <!-- START: Edit Form -->
                            <a data-toggle="modal" data-target="#EditForm_@item.BranchId"><i class="icon-note F-Medium"></i></a>
                            <div class="modal fade" id="EditForm_@item.BranchId" tabindex="-1" role="dialog" aria-labelledby="EditBranchLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div>
                                            <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h2 class="Model-Titel">Edit Branch</h2>
                                            <form asp-action="EditBranch" asp-controller="Branch" class="needs-validation" enctype="multipart/form-data" id="EditBranch-Form">
                                                <div class="container-fluid P-Model">
                                                    <div class="row pt-5">
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">Branch Name</label>
                                                            <input class="input-Model" required id="BranchName" name="BranchName" value="@item.BranchName" placeholder="Branch Name" />
                                                              <div class="invalid-feedback">
                                                                    Please enter Branch Name
                                                             </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">City</label>
                                                            <input class="input-Model" id="City" name="City" placeholder="City" value="@item.City" />
                                                            <div class="invalid-feedback">
                                                                Please enter City
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">Phone</label>
                                                            <input class="input-Model" required id="Phone" name="Phone" placeholder="Phone" value="@item.Phone" />
                                                             <div class="invalid-feedback">
                                                                Please enter Phone 
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">Address</label>
                                                            <input class="input-Model" required id="Address" name="Address" placeholder="Address" value="@item.Address" />
                                                            <div class="invalid-feedback">
                                                                Please enter Address 
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">State</label>
                                                            <input class="input-Model" id="State" name="State" placeholder="State" value="@item.State" />
                                                            <div class="invalid-feedback">
                                                                Please enter State 
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 pt-3">
                                                            <label class="Label-Model">Description</label>
                                                            <input class="input-Model" id="Description" name="Description" placeholder="Description" value="@item.Description" />
                                                            <div class="invalid-feedback">
                                                                Please enter Description 
                                                            </div>
                                                        </div>
                                                        <input type="hidden" value="@item.BranchId" name="BranchId" id="BranchId" />
                                                        <div class="col-lg-12">
                                                            <button class="Red-Btn-OutLine OutLine-Red Btn-Model" onclick="EditBranch('Branch','EditBranch','EditBranch-Form','Branch_@item.BranchId')" type="button" id="BtnSend">
                                                                Edit Branch
                                                            <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- END: Edit Form -->
                        </li>
                        <li class="Red-Bg">
                            <a data-toggle="modal" data-target="#DeletForm_@item.BranchId"><i class="icon-trash F-Medium"></i></a>
                            <!-- Delete Branch Model -->
                            <div class="modal fade" id="DeletForm_@item.BranchId" tabindex="-1" role="dialog" aria-labelledby="DeleteVendorLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div>
                                            <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h2 class="Model-Titel w-75">are you sure you want to delete this Branch?</h2>
                                            <h5 class="Model-Contetn"> Deleting the selected Vendor is permanent. You won’t be able to undo this action.</h5>
                                            <input type="hidden" id="EntityId" />
                                            <div class="col-lg-12">
                                                <button class="Red-Btn-OutLine OutLine-Red ml-3 Btn-Model" type="button" data-dismiss="modal"> Cancel</button>
                                                <button class="Red-Btn-OutLine OutLine-White Btn-Model" type="button" onclick="DeleteEntity('Branch','DeleteBranch','Branch_',@item.BranchId)" data-dismiss="modal">Delete </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="20">
            <h6 class="text-center text-danger my-5">No data available in table</h6>
        </td>
    </tr>
}