
@using DicomApp.CommonDefinitions.DTO;
@model List<AppServiceDTO>

<style>
    /* Accordions
                                                                        ========================================================================== */
    .accordion {
        margin-bottom: 20px;
    }

    .accordion-group {
        border: 1px solid #e5e5e5;
        margin-bottom: 2px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .accordion-inner {
        border-top: 1px solid #e5e5e5;
        padding: 10px 20px;
        margin: 15px;
    }

    .accordion-heading .accordion-toggle {
        display: block;
        position: relative;
        color: #434343;
    }

        .accordion-heading .accordion-toggle:before {
            color: #505050;
            content: "\f47";
            display: inline-block;
            float: right;
            font-family: "entypo";
            font-size: 18px;
            margin-left: 10px;
            position: relative;
            -webkit-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }

        .accordion-heading .accordion-toggle.collapsed:before {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

    .accordion-heading .title {
        margin: 0;
        padding: 20px 20px;
        font-size: 18px;
        background-color: #3f9e5c14;
        border: 2px solid #fb8e41;
        border-radius: 5px;
    }

    .accordion-toggle {
        cursor: pointer;
    }
</style>
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header mb-3 d-flex">
                    <div>
                        <span class="Header-Titel">@Model.FirstOrDefault().RoleName - Permissions</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-12 col-lg-3 mt-3 todo-menu-bar flip-menu pr-lg-0">
                <a href="#" class="d-inline-block d-lg-none mt-1 flip-menu-close"><i class="icon-close"></i></a>
                <div class="card h-100 todo-menu-section">
                    <ul class="nav flex-column todo-menu">
                        @foreach (var services in Model.GroupBy(x=>x.ClassName) )
                        {
                            <li class="nav-item">
                                <a class="nav-link" onclick="displayPremition('@services.FirstOrDefault().ClassName')" data-todotype="@services.FirstOrDefault().ClassName">
                                    <i class="icon-list"></i> &nbsp;@services.FirstOrDefault().ClassName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-9 mt-3 pl-lg-0">
                <form class="panel-body" action="@Url.Action("UpdateRoleAppService")" id="UpdateRoleAppService-Form" method="post">
                    <input hidden name="RoleID" value="@Model.FirstOrDefault().RoleID" />
                    <div class="card h-100 todo-list-section">
                        <div class="card-body p-0">
                            <ul class="todo-list">
                                @foreach (var groups in Model.GroupBy(x=>x.ClassName))
                                {
                                    foreach (var item in groups)
                                        {
                                            <li class="todo-item" data-ClassName="@item.ClassName">
                                                <label class="chkbox">
                                                    <input id="checkbox-@item.Id" type="checkbox" value="@item.Id" name="SelectedAppServiceIDs" checked="@item.IsChecked" />
                                                    <span class="checkmark mt-2"></span>
                                                </label>
                                                <div class="todo-content w-100">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h3>@item.Title</h3>
                                                            <p class="mb-0 font-weight-bold todo-date">@item.Name</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    
                                }
                            </ul>
                            <div class="row justify-content-around p-3">
                                <button class="Red-Btn btn-primary w-50 my-3" type="button" onclick="UpdateRoleAppService('Role', 'UpdateRoleAppService', 'UpdateRoleAppService-Form')">
                                    Save and Submit
                                    <span class="Spinner spinner-border spinner-border-sm ml-2 d-none" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
