
@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs
@using LegendCR.CommonDefinitions.DTO
@model List<ShipDTO>

<thead>
    <tr>
        <td>Code</td>
        <td>Customer</td>
        <td>Branch</td>
        <td>Vendor</td>
        <td>Type</td>
        <td>Packing</td>
        <td>Packing Type</td>
        <td>Package Details</td>
    </tr>
</thead>
<tbody>

    @if (Model != null && Model.Count > 0)
    {
        foreach (var ship in Model)
        {
            <tr id="@ship.ShipmentId">
                <td onclick="ShipmentDetails('Shipment',@ship.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails"><b>@ship.RefId</b></td>
                <td>
                    @ship.CustomerDetailsDTO.CustomerName
                    <br />
                    <label class="text-nowrap mt-1"><i class="fa fa-map-marker"></i> @ship.AreaName</label>
                </td>
                <td>@ship.BranchName</td>
                <td>@ship.VendorDetailsDTO.VendorName</td>
                @if (ship.ShipmentTypeId == (int)EnumShipmentType.PickupDelivery)
                {
                    <td><span class="Shipment-Type Pickup-Bg font-weight-bold">Pickup</span></td>
                }
                else if (ship.ShipmentTypeId == (int)EnumShipmentType.StockDelivery)
                {
                    <td><span class="Shipment-Type Gold-Bg font-weight-bold">Stock</span></td>
                }
                <td id="PackingName_@ship.ShipmentId">@(ship.SettingDTO.PackingName ?? "N/A")</td>
                <td id="PackingTypeName_@ship.ShipmentId">@(ship.SettingDTO.PackingTypeName ?? "N/A")</td>
                <td id="PackagDetails_@ship.ShipmentId" class="text-center">
                    @(ship.SettingDTO.WarehouseWeight) KG
                    <br>
                    @(ship.SettingDTO.WarehouseSize ?? "0") cm<sap>3</sap>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="20">
                <h6 class="text-center text-danger my-5">No data available in table</h6>
            </td>
        </tr>
    }
</tbody>