
@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs
@using LegendCR.CommonDefinitions.DTO
@model List<ShipDTO>
<ul>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            if (item.StatusId == (int)EnumStatus.Out_For_Delivery || item.StatusId == (int)EnumStatus.Postponed)
            {
                <li class="d-none rdbNotDelivered">
                    <input type="checkbox" id="@item.ShipmentId" name="@item.ShipmentId" />
                    <b for="@item.ShipmentId" onclick="ShipmentDetails('Shipment',@item.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@item.RefId</b>
                    @if (item.ShipItemDTOs.Count() > 0)
                    {
                        <button class="Edit-Partial-Delivery" data-target="#PartialItemsModal" data-toggle="modal" onclick="PartialItems('Shipment',@item.ShipmentId)">View Items</button>
                    }
                </li>
            }
            else if (item.StatusId == (int)EnumStatus.Cancelled)
            {
                <li class="d-none rdbCancelled">
                    <input type="checkbox" id="@item.ShipmentId" name="@item.ShipmentId" />
                    <b for="@item.ShipmentId" onclick="ShipmentDetails('Shipment',@item.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@item.RefId</b>
                    @if (item.ShipItemDTOs.Count() > 0)
                    {
                        <button class="Edit-Partial-Delivery" data-target="#PartialItemsModal" data-toggle="modal" onclick="PartialItems('Shipment',@item.ShipmentId)">View Items</button>
                    }
                </li>
            }
            else if (item.StatusId == (int)EnumStatus.Delivered)
            {
                <li class="d-none rdbPartialDelivery">
                    <input type="checkbox" id="@item.ShipmentId" name="@item.ShipmentId" />
                    <b for="@item.ShipmentId" onclick="ShipmentDetails('Shipment',@item.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@item.RefId</b>
                    @if (item.ShipItemDTOs.Count() > 0)
                    {
                        <button class="Edit-Partial-Delivery" data-target="#PartialItemsModal" data-toggle="modal" onclick="PartialItems('Shipment',@item.ShipmentId)">View Items</button>
                    }
                </li>
            }
            else if (item.StatusId == (int)EnumStatus.Refunded)
            {
                <li class="d-none rdbRefund">
                    <input type="checkbox" id="@item.ShipmentId" name="@item.ShipmentId" />
                    <b for="@item.ShipmentId" onclick="ShipmentDetails('Shipment',@item.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@item.RefId</b>
                    <b class="Edit-Partial-Delivery" for="@item.ShipToRefundId" onclick="ShipmentDetails('Shipment',@item.ShipToRefundId)" data-toggle="modal" data-target="#ShipmentDetails">@item.ShipToRefundRefId</b>
                    @if (item.ShipItemDTOs.Count() > 0)
                    {
                        <button class="Edit-Partial-Delivery" data-target="#PartialItemsModal" data-toggle="modal" onclick="PartialItems('Shipment',@item.ShipmentId)">View Items</button>
                    }
                </li>
            }
        }
    }
    else
    {
        <li>
            <label>No Data</label>
        </li>
    }
</ul>