
@using LegendCR.CommonDefinitions.DTO.VendorProductDTOs
@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers
@model List<VendorProductDTO>
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5">
                    <div>
                        <span class="Header-Titel">Stock Report</span>
                    </div>
                </div>
                <div class="Box-Info">
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Total.png"></span>
                        <p>Total Items</p>
                        <b>@Model.Count</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Shipped.png"></span>
                        <p>Shipped Items</p>
                        <b>000</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Remaining.png"></span>
                        <p>Remaining Items</p>
                        <b>@Model.Sum(s => s.AvailableStock)</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO { Action = "StockReport", Controller = "Warehouse" });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table">
            <thead>
                <tr>
                    <td>Item Name</td>
                    <td>Vendor</td>
                    <td>Item Size</td>
                    <td>Available Stock</td>
                    <td class="text-center">Image</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.VendorName</td>
                        <td>30x30cm</td>
                        <td>@item.AvailableStock</td>
                        <td><img src="@item.ImageUrl" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>