@using DicomApp.CommonDefinitions.DTO
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.DAL.DB
@using DicomApp.Helpers
@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@model GameDTO
@inject IStringLocalizer<GameController> Localizer
@{
	ViewData["Title"] = "Main";
	Layout = "~/Views/Shared/_VendorLayout.cshtml";
   var language = AuthHelper.GetClaimStringValue(User, SystemConstants.Claims.Language);

}

<section class="GameDetails">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center text-lg-left mb-4">
				<div class="section-title text-center">
                    <h1><img src="/dist/images/@Model.ImgUrl" width="250" class="mr-5" />@(language == SystemConstants.Languages.Arabic ? Model.NameAr : Model.NameEn)</h1>
				</div>
				<hr />
			</div>
		</div>
		<div class="row">
			@foreach (var game in Model.GameChargesDto)
			{
				<div class="col-lg-4 chargeCard">
						<div class="card">
							<div class="imgBx">
								<img src="/dist/images/@game.Img" alt="nike-air-shoe">
							</div>

							<div class="contentBx">
							<div class="contentBx-Title">
									<h1>@game.Count<img src="/GamerLayout/assets/img/coin.png" width="50" alt="nike-air-shoe"></h1>
								</div>
								<div class="color">
								<h3>@game.Price $</h3>
								</div>
                            <a href="#" data-toggle="modal" data-target="#ChargeModal_@game.Id">@Localizer["chargeNow"]</a>
                      
							</div>
						</div>
                <!-- Charge Model -->
                    <div class="modal fade" id="ChargeModal_@game.Id" role="dialog" aria-labelledby="exampleModalLabel_@game.Id" aria-hidden="true" data-focus="false" data-keyboard="false">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content bg-transparent border-none">
                                <div class="modal-body">
                                    <div class="form-container_Modal" id="AddCharge_@game.Id">
                                        <i class="icofont icofont-close closePush-Icon" data-dismiss="modal"></i>
                                        <form asp-action="Add" asp-controller="GamerService" class="needs-validation Push-form" enctype="multipart/form-data" id="AddCharge-form_@game.Id">
                                            <div class="container-fluid">
                                                <div class="row pt-1">
                                                    <div class="col-lg-6 pt-3">
                                                        <label>@Localizer["userName"]</label>
                                                        <input class="input-Model" required id="UserName" name="UserName" placeholder="@Localizer["userName"]" />
                                                        <div class="invalid-feedback">
                                                            @Localizer["pleaseEnter"] @Localizer["userName"]
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6 pt-3">
                                                        <label>@Localizer["password"]</label>
                                                        <input class="input-Model" required id="Password" name="Password" placeholder="@Localizer["password"]" />
                                                        <div class="invalid-feedback">
                                                            @Localizer["pleaseEnter"] @Localizer["password"]
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="GamerId" name="GamerId" value="@AuthHelper.GetClaimValue(User, SystemConstants.Claims.UserID)">
                                                    <input type="hidden" id="GameServiceType" name="GameServiceType" value="@GameServiceType.Charge">
                                                    <input type="hidden" id="GameChargeId" name="GameChargeId" value="@game.Id">
                                                    <input type="hidden" id="GameId" name="GameId" value="@Model.Id">
                                                    <div class="col-lg-12 mt-3">
                                                        <button class="form-submit-btn" onclick="AddEntity('GamerService','Add','AddCharge-form_@game.Id',false)" type="button" id="BtnSend">
                                                            @Localizer["send"]
                                                            <div class="custom-loader d-none"></div>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

				</div>

            }
		</div>
	</div>
</section>

                                                        