
@using DicomApp.BL.Services;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs;
@model List<AdsDTO>
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

  <table class="table">
    <thead>
        <partial name="_ReportHeder" model="11" />
        <tr>
            <td>Vendor</td>
            <td>Code</td>
            <td>Date</td>
            <td>Couriers</td>
            <td>service</td>
            <td>Fees</td>
            <td>COD</td>
            <td>Status</td>
            <td>Comments</td>
        </tr>
    </thead>
     <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model.OrderBy(s=>s.AccountTransaction))
            {
            <tr>
                <td>0</td>
                <td><b>@item.RefId</b></td>
                    <td class="text-nowrap Date-Table">@item.CreatedAt.ToString("MMM dd ,yyy")</td>
                <td>@item.UserName</td>
                <td>0</td>
                <td class="text-nowrap ">0 EGP</td>
                <td class="text-nowrap ">0 EGP</td>
                    <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@item.Status" />
                <td><span class="Comments-Table">@item.Description</span></td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="20">
                    <h6 class="text-center text-danger my-5">No data available in table</h6>
                </td>
            </tr>
        }
      </tbody>
  </table>