
@*@using LegendCR.CommonDefinitions.DTO
@model List<InvoiceDTO>
<!-- START: Main Content-->

<main>
    <div class="container-fluid site-width">
        @if (Model.Count() > 0)
        {

            <div class="row">
                <div class="col-md-12">
                    <div class="card bg-primary my-3 text-left">
                        <div class="card-body">
                            <div class="d-flex px-0 px-lg-2 py-2 align-self-center">
                                <i class="fas fa-money-bill card-liner-icon mt-2 text-white"></i>
                                <div class="card-liner-content">
                                    <h1 style="color:white">@(((Model.Sum(p => p.Total)) - (Model.Sum(p => p.Total))) > 0 ? (((Model.Sum(p => p.Total)) - (Model.Sum(p => p.Total))) * (-1)) + " :Credit" : ((Model.Sum(p => p.Total)) - (Model.Sum(p => p.Total))) + " :Debit")</h1>
                                    <h1 class="card-liner-subtitle text-white">@ViewBag.clientName</h1>
                                </div>
                            </div>
                            <br />
                            <div class="d-flex mt-3">
                                <div class="border-0 outline-badge-danger w-50 text-white p-3 rounded text-center">
                                    <span class="h6 mb-0 ">@ViewBag.TotalInvoices</span><br>
                                    Total Invoices
                                </div>
                                <div class="border-0 outline-badge-success w-50 text-white p-3 rounded ml-2 text-center">
                                    <span class="h6 mb-0 ">@ViewBag.TotalTake</span><br>
                                    Paid 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card overflow-hidden">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6 class="card-title">Transactions</h6>
                        </div>
                        <div class="card-content">
                            <div class="card-body p-0">
                                <ul class="list-group list-unstyled">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <li class="p-2 border-bottom zoom">
                                            <div class="media d-flex w-100">
                                                <div class="transaction-date text-center rounded bg-primary text-white p-2">
                                                    <small class="d-block">@Model[i].InvoiceDueDate.ToShortTimeString()</small><span class="h6">@Model[i].InvoiceDueDate.Date.ToShortDateString()</span>
                                                </div>
                                                @if (Model[i].InvoiceTypeId == 2)
                                                {
                                                    <div class="media-body align-self-center pl-4">
                                                        <span class="mb-0 font-w-600">Payment</span><br>
                                                        <p class="mb-0 font-w-500 tx-s-12">Credit</p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="media-body align-self-center pl-4">
                                                        <span class="mb-0 font-w-600">Invoice</span><br>
                                                        <p class="mb-0 font-w-500 tx-s-12">Debit</p>
                                                    </div>
                                                }

                                                @if (Model[i].InvoiceTypeId != 2)
                                                {
                                                    <div class="ml-auto my-auto font-weight-bold text-right text-success">
                                                        + @Model[i].Total<br>
                                                        <small class="d-block">L.E</small>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="ml-auto my-auto font-weight-bold text-right text-danger">
                                                        -  @Model[i].Total<br>
                                                        <small class="d-block">L.E</small>
                                                    </div>
                                                }

                                            </div>
                                        </li>
                                    }
                                    <li class="p-2 border-bottom zoom">
                                        <div class="media d-flex w-100">
                                            <div class="ml-auto my-auto font-weight-bold text-right text-success">
                                                Total :  @Model.Sum(p => p.Total)<br>
                                                <small class="d-block">L.E</small>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="pricing ui-ribbon-container">
                        @*<div class="ui-ribbon-wrapper">
                            <div class="ui-ribbon">
                                عفوا
                            </div>
                        </div>
                        <br />
                        <div class="title">
                            <h2>@ViewBag.clientName</h2>
                            <h1>لا يوجد كشف حساب متوفر لهذا المستخدم</h1>
                            @*<span> إجمالى الفواتيـر : @ViewBag.TotalInvoices </span>  |
                            <span> إجمالى المرتجعات : @ViewBag.TotalReback </span>  |
                            <span> إجمالى المتحصلات : @ViewBag.TotalTake </span>  |
                            <span> إجمالى المدفوعات : @ViewBag.TotalGive </span>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</main>
*@