
@* @using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers;
@using LegendCR.DAL.DB
@model PaymentReceiveDTO



<main>
    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Other payments</h4></div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("AddPayment", "Payment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
        {
            <input hidden name="Code" value="0" />

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="" >
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">
                                        Value
                                    </label>
                                    <div class="col-sm-10 mb-3">
                                        @Html.TextBoxFor(model => model.PaymentAmount, new { @class = "form-control col-md-7 col-xs-12", @type = "number" })
                                        @Html.ValidationMessageFor(model => model.PaymentAmount, "", new { @class = "validation-message" })
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">
                                        Type
                                    </label>
                                    <div class="col-sm-10 mb-3">
                                        @Html.DropDownListFor(model => model.TypeId, new SelectList((List<PurchasingType>)@ViewBag.Types, "Id", "Name"), new { @class = "form-control col-md-7 col-xs-12 select2_single" })
                                        @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "validation-message" })
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">
                                        To
                                    </label>
                                    <div class="col-sm-10 mb-3">
                                        @Html.DropDownListFor(model => model.UserId, new SelectList((List<UserDTO>)@ViewBag.Managers, "Id", "Name"), "--Select--", new { @class = "form-control col-md-7 col-xs-12 select2_single" })
                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "validation-message" })
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">
                                        Notes
                                    </label>
                                    <div class="col-sm-10 mb-3">
                                        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "validation-message" })
                                    </div>
                                </div>


                                <input hidden id="TypeID" name="TypeId" value="@((long)EnumPurchasingType.MilanoGiveMoney)" />
                                <input hidden id="PaymentTypeID" name="PaymentTypeId" value="1" />


                                <div class="row">
                                    <label class="col-sm-2 col-form-label">
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="submit" class="btn btn-success btn-block" value="Add" onclick="return confirm('هل أنت متاكد  ؟ ?');" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).on('invalid-form.validate', 'form', function () {
                    var button = $(this).find('input[type="submit"]');
                    setTimeout(function () {
                        button.removeAttr('disabled');
                    }, 1);
                });
                $(document).on('submit', 'form', function () {
                    var button = $(this).find('input[type="submit"]');
                    setTimeout(function () {
                        button.attr('disabled', 'disabled');
                    }, 0);
                });
            </script>

        }
    </div>
</main>
       
*@