
@*@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers;
@using LegendCR.DAL.DB
@model PaymentReceiveDTO[]
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .right-to-left li {
        float: right;
    }
</style>

<a id="lnkprint" target="_blank" class="btn btn-success" return false;">طباعة</a>
<main>
    <div class="container-fluid site-width">
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Treasury Journal</h4></div>
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-12">
                <center>
                    <div class="card bg-primary my-3 text-left">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex px-0 px-lg-12 py-2 align-self-center">
                                        <i class="fas fa-money-bill card-liner-icon mt-2 text-white"></i>
                                        <div class="card-liner-content">
                                            <h1 style="font-size:30px;font-weight:bold" class="card-liner-title text-white">@ViewBag.EndCredit</h1>
                                            <h6 class="card-liner-subtitle text-white">The daily account of the treasury</h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 style="font-size:30px;font-weight:bold" class="card-liner-title text-white">Day</h1>
                                    @Html.TextBox("date", DateTime.Now.ToString("MM-dd-yyyy"), new { @onchange = "CycleChanged(this)", @class = "datepicker form-control", @style = "color:white;border:1px solid white" })

                                </div>
                            </div>
                            
                            </div>
                        </div>
                </center>

                
                <div class="row tile_count" dir="rtl">
                    <div class="col-12 col-sm-3 col-xl-3 mt-3">
                        <div class="card">
                            <div class="card-body text-info border-bottom border-info border-w-5">
                                <h2 class="text-center">@ViewBag.Credit.ToString("N2")</h2>
                                <h6 class="text-center">Starting balance</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-xl-3 mt-3">
                        <div class="card">
                            <div class="card-body text-danger border-bottom border-info border-w-5">
                                <h2 class="text-center">@ViewBag.GiveCredit.ToString("N2")</h2>
                                <h6 class="text-center">Expenses</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-xl-3 mt-3">
                        <div class="card">
                            <div class="card-body text-success border-bottom border-info border-w-5">
                                <h2 class="text-center">@ViewBag.TakeCredit.ToString("N2")</h2>
                                <h6 class="text-center">Revenues</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-xl-3 mt-3">
                        <div class="card">
                            <div class="card-body text-info border-bottom border-info border-w-5">
                                <h2 class="text-center">@ViewBag.EndCredit.ToString("N2")</h2>
                                <h6 class="text-center">Final balance</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row demo-container">
                            <a style="min-width: 65px;" href="@Url.Action("DetailsReport", "Client", new {invoices = Model[0].ClientID,isPdf=true })" class="btn btn-info btn-sm">@ResourceManager.UIGetResource("Print As PDf")</a>
                                <a style="min-width: 65px;" href="@Url.Action("DetailsReport", "Client", new { invoices = Model[0].ClientID, isPdf = false })" class="btn btn-info btn-sm">@ResourceManager.UIGetResource("Print As Excel")</a>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card overflow-hidden">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="card-title">Revenues</h6>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body p-0">
                                            <ul class="list-group list-unstyled">
                                                @for (int j = 0; j < Model.Count(); j++)
                                                {
                                                    @if (Model[j].TypeId == (int)EnumPurchasingType.MilanoTakeMoney)
                                                    {
                                                        <li class="p-2 border-bottom zoom">
                                                            <div class="media d-flex w-100">
                                                                <div class="transaction-date text-center rounded bg-primary text-white p-2">
                                                                    <small class="d-block">@Model[j].PaymentDate.ToString("MMM")</small><span class="h6">@Model[j].PaymentDate.Day</span>
                                                                </div>

                                                                <div class="media-body align-self-center pl-4">
                                                                    <span class="mb-0 font-w-600">Code: @Model[j].PaymentReceiveId</span><br>
                                                                    <p class="mb-0 font-w-500 tx-s-12">@(Model[j].ClientName ?? Model[j].Notes)</p>
                                                                    <p class="mb-0 font-w-500 tx-s-12">@Model[j].TypeName</p>

                                                                </div>
                                                                <div class="ml-auto my-auto font-weight-bold text-right text-success">
                                                                    @Model[j].PaymentAmount.ToString("N2")<br>
                                                                    <small class="d-block">L.E</small>
                                                                </div>

                                                            </div>
                                                        </li>
                                                    }
                                                }


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card overflow-hidden">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h6 class="card-title">Expenses</h6>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body p-0">
                                            <ul class="list-group list-unstyled">
                                                @for (int j = 0; j < Model.Count(); j++)
                                                {
                                                    @if (Model[j].TypeId == (int)EnumPurchasingType.MilanoGiveMoney)
                                                    {
                                                        <li class="p-2 border-bottom zoom">
                                                            <div class="media d-flex w-100">
                                                                <div class="transaction-date text-center rounded bg-primary text-white p-2">
                                                                    <small class="d-block">@Model[j].PaymentDate.ToString("MMM")</small><span class="h6">@Model[j].PaymentDate.Day</span>
                                                                </div>

                                                                <div class="media-body align-self-center pl-4">
                                                                    <span class="mb-0 font-w-600">@Model[j].Code</span><br>
                                                                    <p class="mb-0 font-w-500 tx-s-12">@Model[j].ClientName</p>
                                                                    <p class="mb-0 font-w-500 tx-s-12">@Model[j].TypeName</p>

                                                                </div>
                                                                <div class="ml-auto my-auto font-weight-bold text-right text-danger">
                                                                    @Model[j].PaymentAmount.ToString("N2")<br>
                                                                    <small class="d-block">L.E</small>
                                                                </div>

                                                            </div>
                                                        </li>
                                                    }
                                                }


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/DateTimePicker.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/jquery.datetimepicker.full.min.js"></script>
<script>
    function CycleChanged(ddl) {
        SBSAjax({
            url: '@Url.Action("ListCreditPartial", "Home")',
            data: {
                userID: $("#inpt-user-id").val(),
                date: $(ddl).val()
            },
            success: function (response) {
                link = '@Url.Action("DownloadReport7", "Home", new { date = "-1" })';
                document.getElementById('lnkprint').href = link.replace("-1", $(ddl).val());
                $("#div-partial-dashboard").html(response);
            }
        });
    }
    $(document).ready(function () {
        link = '@Url.Action("DownloadReport7", "Home", new { date = "-1" })';
        document.getElementById('lnkprint').href = link.replace("-1", $("#date").val());

    });
</script>
*@