@using LegendCR.CommonDefinitions.DTO.CashDTOs
@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers
@model List<TreasuryDTO>

<thead>
    <tr>
        <td class="text-left">Vendor</td>
        <td class="text-center">Total</td>
        <td class="text-center">Shipping Fees</td>
        <td class="text-center">Packing Fees</td>
        <td class="text-center">Weight Fees</td>
        <td class="text-center">Size Fees</td>
        <td class="text-center text-wrap">Partial Delivery Fees</td>
        <td class="text-center">Pickup Fees</td>
        <td class="text-center">Cancel Fees</td>
        <td class="text-center">Withdraw</td>
        <td class="text-center">Balance</td>
    </tr>
</thead>
<tbody>
    @if (Model != null)
    {
        foreach (var account in Model)
        {
            <tr data-toggle="modal" data-target="#Transactions-Modal_@account.AccountId">
                <td class="td-medium text-left">
                    <b style="font-size: 14px;">@account.VendorName</b>

                    <!-- START : Vendor Transactions -->
                    <div class="modal fade" id="Transactions-Modal_@account.AccountId" tabindex="-1" role="dialog" aria-hidden="true">
                        <div style="min-width:85%;" class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div>
                                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h2 class="ml-5 font-weight-bolder">Vendor Transactions - Balance :&nbsp;&nbsp;@account.Balance <label style="font-size: 12px;">EGP</label></h2>
                                    <div class="Table-container Max-height">
                                        <table class="table text-center" id="Table_@account.AccountId">
                                            <thead>
                                                <tr>
                                                    <td class="text-nowrap">Code</td>
                                                    <td class="text-wrap">Transaction Date</td>
                                                    <td></td>
                                                    <td class="text-nowrap">Status</td>
                                                    <td class="text-nowrap">Total</td>
                                                    <td class="text-wrap">Vendor Cash</td>
                                                    <td class="text-wrap">Shipping Fees</td>
                                                    <td class="text-wrap">Packing Fees</td>
                                                    <td class="text-wrap">Weight Fees</td>
                                                    <td class="text-wrap">Size Fees</td>
                                                    <td class="text-wrap">Partial Delivery Fees</td>
                                                    <td class="text-wrap">Pickup Fees</td>
                                                    <td class="text-wrap">Cancel Fees</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var ShipTrans in account.TransactionDTOs.GroupBy(t => new { t.CashTransferId, t.ShipmentId, t.PickupRequestId }))
                                                {
                                                    var RED = ShipTrans.FirstOrDefault(t => t.ReceiverId == (int)EnumAccountId.RED_Main_Account);
                                                    var Vendor = ShipTrans.FirstOrDefault(t => t.ReceiverId == account.AccountId);

                                                    <tr>
                                                        @if (Vendor.StatusId == (long)EnumStatus.Delivered)
                                                        {
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@RED.ShipRefId</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.CreatedAt.ToString("d/M/yyyy") <br /> @RED.CreatedAt.ToString("hh:mm tt")</b></td>
                                                            <td class="td-small"><i class="fas fa-arrow-up text-success"></i></td>
                                                            <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@RED.StatusDTO"></partial>
                                                            <td class="text-nowrap td-small"><b style="font-size: 16px;">@(RED.Total + Vendor.Total)</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.VendorCash</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.ShippingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PackingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.WeightFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.SizeFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PartialDeliveryFees</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.PickupFees</b></td>
                                                            <td class="text-nowrap text-danger td-small"><b style="font-size: 14px;">@Vendor.CancelFees</b></td>
                                                        }
                                                        else if (Vendor.StatusId == (long)EnumStatus.Cancelled)
                                                        {
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@RED.ShipRefId</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.CreatedAt.ToString("d/M/yyyy") <br /> @RED.CreatedAt.ToString("hh:mm tt")</b></td>
                                                            <td class="td-small"><i class="fas fa-arrow-down text-danger"></i></td>
                                                            <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@RED.StatusDTO"></partial>
                                                            <td class="text-nowrap td-small"><b style="font-size: 16px;">@RED.Total</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.VendorCash</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.ShippingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PackingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.WeightFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.SizeFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PartialDeliveryFees</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.PickupFees</b></td>
                                                            <td class="text-nowrap td-small text-danger"><b style="font-size: 14px;">@Vendor.CancelFees</b></td>
                                                        }
                                                        else if (Vendor.StatusId == (long)EnumStatus.Picked_Up)
                                                        {
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@RED.PickupRefId</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.CreatedAt.ToString("d/M/yyyy") <br /> @RED.CreatedAt.ToString("hh:mm tt")</b></td>
                                                            <td class="td-small"><i class="fas fa-arrow-down text-danger"></i></td>
                                                            <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@RED.StatusDTO"></partial>
                                                            <td class="text-nowrap td-small"><b style="font-size: 16px;">@RED.Total</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@RED.VendorCash</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.ShippingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PackingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.WeightFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.SizeFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@RED.PartialDeliveryFees</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@RED.PickupFees</b></td>
                                                            <td class="text-nowrap td-small text-danger"><b style="font-size: 14px;">@RED.CancelFees</b></td>
                                                        }
                                                        else if (Vendor.StatusId == (long)EnumStatus.Refunded)
                                                        {
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.ShipRefId</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.CreatedAt.ToString("d/M/yyyy") <br /> @Vendor.CreatedAt.ToString("hh:mm tt")</b></td>
                                                            <td class="td-small"><i class="fas fa-arrow-down text-danger"></i></td>
                                                            <partial name="~/Views/Shared/Shipment/_StatusSwitch.cshtml" model="@Vendor.StatusDTO"></partial>
                                                            <td class="text-nowrap td-small"><b style="font-size: 16px;">@(Vendor.Total)</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.VendorCash</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.ShippingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.PackingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.WeightFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.SizeFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.PartialDeliveryFees</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.PickupFees</b></td>
                                                            <td class="text-nowrap td-small text-danger"><b style="font-size: 14px;">@Vendor.CancelFees</b></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.CashTransferRefId</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.CreatedAt.ToString("d/M/yyyy") <br /> @Vendor.CreatedAt.ToString("hh:mm tt")</b></td>
                                                            <td class="td-small"><i class="fas fa-arrow-down text-danger"></i></td>
                                                            <td class="text-nowrap text-center">
                                                                <span style="margin-bottom:0px; background-color:#d6eaff; color:#427fc1" class="Filter-Table font-weight-bold">Cash Transfer</span>
                                                            </td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 16px;">@Vendor.Total</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.VendorCash</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.ShippingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.PackingFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.WeightFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.SizeFees</b></td>
                                                            <td class="text-nowrap td-small"><b>@Vendor.PartialDeliveryFees</b></td>
                                                            <td class="text-nowrap td-small"><b style="font-size: 14px;">@Vendor.PickupFees</b></td>
                                                            <td class="text-nowrap td-small text-danger"><b style="font-size: 14px;">@Vendor.CancelFees</b></td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END   : Vendor Transactions -->

                </td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 18px;">@(account.TotalDelivered + account.TotalRefunded + account.TotalOthers)</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.ShippingFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.PackingFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.WeightFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.SizeFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.PartialDeliveryFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.PickupFees</b></td>
                <td class="td-medium text-center text-nowrap text-danger"><b style="font-size: 16px;">@account.CancelFees</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 16px;">@account.Withdraw</b></td>
                <td class="td-medium text-center text-nowrap"><b style="font-size: 18px;">@account.Balance <label style="font-size: 10px;">EGP</label></b></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="20" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
</tbody>