@using LegendCR.CommonDefinitions.DTO.CashDTOs
@using LegendCR.CommonDefinitions.DTO
@using LegendCR.Helpers
@model InvoiceDTO

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header">
                    <span class="Header-Titel">Invoices</span>
                </div>
                <div class="Box-Info mt-3" style="padding-left: 0px">
                    <div>
                        <span class="Green-Info-Bg"><img src="~/dist/images/Icons/Cash.png"></span>
                        <p>Total Transactions</p>
                        <b>@Model.Total <label style="font-size: 12px;">EGP</label></b>
                        <table>
                            <tr>
                                <td><img class="Comparison-Arrow" style="padding-left: 137px; margin-right: 5px;" src="~/dist/images/Icons/ArowUp.png"></td>
                                <td><span class="increase" style="padding-left:0px">+16.24%</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span class="Green-Info-Bg"><img src="~/dist/images/Icons/Shipping.png"></span>
                        <p>Red Fees</p>
                        <b>@Model.REDFees <label style="font-size: 12px;">EGP</label></b>
                        <span style="font-size:8px" class="">
                            <b style="font-size:8px">Shipping: </b>@Model.ShippingFees |
                            <b style="font-size:8px">Pack: </b>@Model.PackingFees |
                            <b style="font-size:8px">Weight: </b>@Model.WeightFees |
                            <b style="font-size:8px;color:red">Cancel: </b>@Model.CancelFees
                        </span>
                    </div>
                    <div>
                        <span class="Green-Info-Bg"><img src="~/dist/images/Icons/Vendor.png"></span>
                        <p>Vendor Balance</p>
                        <b>@Model.VendorBalance <label style="font-size: 12px;">EGP</label></b>
                        <table>
                            <tr>
                                <td><img class="Comparison-Arrow" style="padding-left: 137px; margin-right: 5px;" src="~/dist/images/Icons/ArowUp.png"></td>
                                <td><span class="increase" style="padding-left:0px">+16.24%</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span class="Green-Info-Bg"><img src="~/dist/images/Icons/Paid.png"></span>
                        <p>Vendor Withdraw</p>
                        <b>@Model.Withdraw <label style="font-size: 12px;">EGP</label></b>
                        <table>
                            <tr>
                                <td><img class="Comparison-Arrow" style="padding-left: 137px; margin-right: 5px;" src="~/dist/images/Icons/ArowUp.png"></td>
                                <td><span class="increase" style="padding-left:0px">+16.24%</span></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <span class="Green-Info-Bg"><img src="~/dist/images/Icons/CurrentBalance.png"></span>
                        <p>Treasury Balance</p>
                        <b>@Model.TreasuryBalance <label style="font-size: 12px;">EGP</label></b>
                        <table>
                            <tr>
                                <td><img class="Comparison-Arrow" style="padding-left: 137px; margin-right: 5px;" src="~/dist/images/Icons/ArowUp.png"></td>
                                <td><span class="increase" style="padding-left:0px">+16.24%</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO { Action = "Invoices", Controller = "Cash" });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_Invoices" model="@Model" />
        </table>
    </div>
</main>