@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@model StatusDTO

@switch (@Model.StatusType)
{
    case (int)StatusTypeEnum.Published:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#28a745; color:#EEF0F4" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)StatusTypeEnum.Reject:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#ff0000; color:#EEF0F4" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)StatusTypeEnum.Accept:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#174ac2 ; color:#EEF0F4" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)StatusTypeEnum.Sold:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#fff89e; color:#d9a300" class="Filter-Table font-weight-bold">
                @Model.NameEN
                <br />
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;@Model.NameEN</span>
            </span> 
        </td>
        break;
    case (int)StatusTypeEnum.InProgress:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#174ac2 ; color:#EEF0F4" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;

    default:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#174ac2; color:#427fc1" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
}