@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@model StatusDTO

@switch (@Model.Id)
{
    case (int)EnumStatus.Delivered:
    case (int)EnumStatus.Paid_To_Vendor:
    case (int)EnumStatus.Refunded:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#0ebc934d; color:#174ac2" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)EnumStatus.Cancelled:
    case (int)EnumStatus.Cancelled_Pickup:
    case (int)EnumStatus.Cancelled_Refund:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#EEF0F4; color:#ff0000" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)EnumStatus.Not_Received:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#EEF0F4; color:#ff0000" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)EnumStatus.Ready_For_Delivery:
    case (int)EnumStatus.Ready_For_Pickup:
    case (int)EnumStatus.Ready_For_Return:
    case (int)EnumStatus.Ready_For_Refund:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#EEF0F4; color:#174ac2" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    case (int)EnumStatus.Assigned_For_Delivery:
    case (int)EnumStatus.Assigned_For_Pickup:
    case (int)EnumStatus.Assigned_For_Return:
    case (int)EnumStatus.Assigned_For_Refund:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#fff89e; color:#d9a300" class="Filter-Table font-weight-bold">
                @Model.NameEN
                <br />
                <span><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;@Model.NameEN</span>
            </span>
        </td>
        break;
    case (int)EnumStatus.Out_For_Delivery:
    case (int)EnumStatus.Picked_Up:
    case (int)EnumStatus.Out_For_Return:
    case (int)EnumStatus.Returned:
    case (int)EnumStatus.Out_For_Refund:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#0ebc9314; color:#008000a8" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;

    case (int)EnumStatus.At_Warehouse:
    case (int)EnumStatus.Postponed:
    case (int)EnumStatus.Archive:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#d6eaff; color:#427fc1" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
    default:
        <td class="text-nowrap text-center">
            <span style="margin-bottom:0px; background-color:#d6eaff; color:#427fc1" class="Filter-Table font-weight-bold">@Model.NameEN</span>
        </td>
        break;
}