
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model List<AdsDTO>
<thead>
    <tr>
        <th class="Sort-Column text-center">Code</th>
        <th class="Sort-Column text-center">UserName</th>
        <th class="Sort-Column text-center">Password</th>
        <th class="Sort-Column text-center">Date</th>
        <th class="text-center">Game</th>
        <th class="text-center">Gamer</th>
        <th class="text-center">Buyer</th>
        <th class="text-center">Description</th>
        <th class="Sort-Column text-center">Price</th>
        <th class="Sort-Column text-center">Level</th>
        <th class="Sort-Column text-center">Rank</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
    </tr>
</thead>
<tbody id="TableBody">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var ads in Model)
        {
            <tr id="TableRow_@ads.AdvertisementId">
                <td class="td-small text-center text-nowrap pl-1 pr-1" onclick="AdvertisementDetails('Advertisement',@ads.AdvertisementId)" data-toggle="modal" data-target="#AdvertisementDetails"><b>@ads.RefId</b></td>
                <td class="td-small text-center pl-1 pr-1" style="min-width:100px;">@ads.UserName</td>
                <td class="td-small text-center pl-1 pr-1" style="min-width:100px;">@ads.Password</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1 Date-Table">@ads.CreatedAt.ToString("dd MMM yyyy")</td>
                <td class="td-small text-center pl-1 pr-1">@ads.Game?.NameEn</td>
                <td class="td-small text-center pl-1 pr-1">@ads.Gamer?.Name</td>
                <td class="td-small text-center pl-1 pr-1">@ads.Buyer?.Name</td>
                <td class="td-small text-center pl-1 pr-1">@ads.Description</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1">@ads.Price EGP</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1">@ads.Level</td>
                <td class="td-small text-center text-nowrap pl-1 pr-1">@ads.Rank</td>
                <partial name="~/Views/Shared/Advertisement/_StatusSwitch.cshtml" model="@ads.Status"></partial>
                <td class="text-center pr-0" id="TableTD_@ads.AdvertisementId">
                    <partial name="~/Views/Shared/Advertisement/_CommonActions.cshtml" model="@ads"></partial>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="13" class="text-danger text-center"><h3>No data available in table</h3></td>
        </tr>
    }
</tbody>
<tfoot>
    <tr>
        <td colspan="13">
            @{
                await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "All", Controller = "Advertisement", Count = Model.Count, StatusType = (int)StatusTypeEnum.InProgress });
            }
        </td>
    </tr>
</tfoot>
<input type="hidden" value="@Model.Count" id="DataCount" />