
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model ViewModel<AdsDTO>

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Advertisement List</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)EnumStatus.All)"> <a onclick="FilterByStatus('All','Shipment','All',@((int)EnumStatus.All))" href="javascript:;">All</a></li>
                            <li id="Current-Shipments" data-status="@((int)EnumStatus.Current)"> <a onclick="FilterByStatus('All','Shipment','Current-Shipments', @((int)EnumStatus.Current))" href="javascript:;">Current Advertisement</a></li>
                            <li id="Returned-Shipments" data-status="@((int)EnumStatus.CourierReturn)"><a onclick="FilterByStatus('All','Shipment','Returned-Shipments',@((int)EnumStatus.CourierReturn))" href="javascript:;">Returned Advertisement</a></li>
                            <li id="Cancelled-Shipments" data-status="@((int)EnumStatus.Cancelled)"> <a onclick="FilterByStatus('All','Shipment','Cancelled-Shipments', @((int)EnumStatus.Cancelled))" href="javascript:;">Cancelled Advertisement</a></li>
                            <li id="Done-Shipments" data-status="@((int)EnumStatus.Done)"> <a onclick="FilterByStatus('All','Shipment','Done-Shipments', @((int)EnumStatus.Done))" href="javascript:;">Done Advertisement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "All",
                Controller = "Shipment",
                Columns = 6,
                Lookup = Model.Lookup,
                SelectListType = new byte[]
            {
            (byte)EnumSelectListType.Vendor,
            (byte)EnumSelectListType.Zone,
            (byte)EnumSelectListType.Area,
            (byte)EnumSelectListType.Status
            },
            });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    @*<div id="Grid">*@
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_All" model="@Model.ObjDTOs" />
        </table>
    </div>
</main>