
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs;
@model List<AdsDTO>
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model.Where(p => p.ProblemDTOs.Count() > 0))
    {
        <tr>
            <td class="text-nowrap"><b onclick="ShipmentDetails('Shipment',@item.ShipmentId)" data-toggle="modal" data-target="#ShipmentDetails">@item.RefId</b></td>
            <td class="text-nowrap">@item.VendorDetailsDTO.VendorName</td>
            <td class="text-nowrap Date-Table">@item.CreatedAt.ToString("MMM dd,yyy")</td>
            <td>
            @item.CustomerDetailsDTO.CustomerAddress <br>
            @item.CustomerDetailsDTO.CustomerPhone <br /><label style="color:blue">@item.CustomerDetailsDTO.CustomerPhone2</label>
            </td>
            <td>@(item.ShipmentServiceName ?? "")</td>
            <td class="text-nowrap">@item.FeesDetailsDTO.Total EGP</td>
            <td class="Actions-Buttons">
                <ul>
                    <i class="Call-Number">@(item.CustomerFollowUpDTO.CallAnswerCount)</i>
                    <li class="Answer-Bg"><img class="call-Img" src="~/dist/images/Icons/Call-Answer.png"></li>
                    <i class="Call-Number">@item.CustomerFollowUpDTO.CallNotAnswerCount </i>
                    <li class="No-Answer-Bg"><img class="call-Img" src="~/dist/images/Icons/Call-NoAnswer.png"></li>
                </ul>
            </td>
            <td class="status-td">
                <span class="status-Table @(item.CustomerFollowUpDTO.IsConfirmed.HasValue && item.CustomerFollowUpDTO.IsConfirmed.Value ? "Answer-Status" : "No-Answer-Status")">
                @(item.CustomerFollowUpDTO.Note ?? "---")
                </span>
            </td>
        @*<td>@(item.VendorRecommendation ?? "----")</td>*@
            <td></td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="10" class="text-danger text-center"><h3>No data available in table</h3></td>
    </tr>
}
<input type="hidden" value="@(Model != null ? Model.Count : 0)" id="DataCount" />