
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.CommonDefinitions.DTO.VendorProductDTOs;
@using LegendCR.Helpers;
@model List<VendorProductDTO>
@{
    var Role = AuthHelper.GetClaimValue(User, "RoleID");
}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr id="Product_@item.VendorProductId">
            @if (Role != (int)EnumRole.Vendor)
            {
                <td class="font-weight-bold" id="AccountName_@item.VendorProductId">@item.VendorName</td>
            }
            <td class="font-weight-bold" id="VendorProductId_@item.VendorProductId" data-id="ProductId">@item.VendorProductId</td>
            <td class="font-weight-bold" id="Name_@item.VendorProductId">@item.Name</td>
            <td id="Size_@item.VendorProductId">@(item.Size ?? "0") cm</td>
            <td id="OriginalPrice_@item.VendorProductId">@item.OriginalPrice EGP</td>
            <td class="font-weight-bold">@item.AvailableStock</td>
            <td id="Description_@item.VendorProductId">@item.Description</td>
            <td id="ImageUrl_@item.VendorProductId">
                <img src="/dist/images/@item.ImageUrl" alt="" width="55">
            </td>
            <td>
                <div class="Actions-Buttons">
                    <ul>
                        <li class="Green-Bg">
                            <a href="javascript:;" data-toggle="modal" onclick="GetProduct(@item.VendorProductId,'EditProduct-Form')" data-target="#EditForm"><i class="icon-pencil F-Medium text-white"></i></a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="20">
            <h6 class="text-center text-danger my-5">No data available in table</h6>
        </td>
    </tr>
}
<input type="hidden" value="@Model.Count" id="DataCount" />